//-- переменные
@import '../variables.scss';

.aboutme-main-section {
    background-image: url(../../img/aboutme-page-img/aboutme-main-section__bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-bottom: 0px !important;
}

.aboutme-main-section-container {
    display: flex;
    align-items: flex-end;
}

.aboutme-social-block-list {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.aboutme-main-section__left-block {
    margin-right: 20px;
}

.aboutme-main-section__right-block {
    padding-bottom: 80px;
}

.aboutme-man-section__title {
    font-family: $font-title;
    font-weight: 400;
    font-size: 46px;
    line-height: normal;
    color: $color-second;
}

.aboutme-ms-title__discr {
    margin-bottom: 30px;
    font-weight: 100;
    font-size: 28px;
    line-height: normal;     
}

.aboutme-man-section__discr {
    width: 544px;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 22px;
    line-height: normal;
}

.specialization-list__title {
    margin-bottom: 12px;
    font-weight: 200;
    font-size: 22px;
    line-height: normal;
}

.aboutme-ms-discr__specialization-list {
    padding-left: 20px;
}

.specialization-list__item {
    font-weight: 200;
    font-size: 20px;
    line-height: normal;
    background-image: url(../../img/aboutme-page-img/item__img.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 40px;
}

.specialization-list__item:not(:last-of-type)  {
    margin-bottom: 8px;
}

@media only screen and (max-width: 1280px) {
    .aboutme-main-section {
        background-image: url(../../img/aboutme-page-img/aboutme-main-section__bg_1280.png);
        background-repeat: no-repeat;
        background-position: right top;
        margin-bottom: 0px !important;
    }

    .aboutme-main-section__right-block {
        padding-bottom: 40px;
    }

    .aboutme-man-section__title {
        font-size: 34px;
    }

    .aboutme-ms-title__discr {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .aboutme-man-section__discr {
        width: 405px;
        font-size: 19px;
        margin-bottom: 18px;
    }

    .specialization-list__title {
        font-size: 20px;
        margin-bottom: 14px;
    }

    .specialization-list__item {
        font-size: 18px;
        background-image: url(../../img/aboutme-page-img/item__img.png);
        padding-left: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .aboutme-main-section {
        background-image: url(../../img/aboutme-page-img/aboutme-main-section__bg_1024.png);
        background-repeat: no-repeat;
        background-position: right top;
        margin-bottom: 0px !important;
    }

    .aboutme-social-block-list {
        margin-right: 8px;
    }
    
    .aboutme-main-section__left-block {
        margin-right: 8px;
    }

    .aboutme-main-section__right-block {
        padding-bottom: 0px;
    }

    
    .aboutme-man-section__title {
        font-size: 30px;
    }
    
    .aboutme-ms-title__discr {
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .aboutme-man-section__discr {
        width: 316px;
        font-size: 14px;
        margin-bottom: 18px;
    }
    
        .specialization-list__title {
            font-size: 20px;
            margin-bottom: 14px;
        }
    
        .specialization-list__item {
            font-size: 18px;
            background-image: url(../../img/aboutme-page-img/item__img.png);
            padding-left: 30px;
        }
}

// @media only screen and (max-width: 800px) {
//     .main-section {
//         height: 620px;
//     }

//     .main-section__left-block {
//         padding-top: 90px;
//     }
// }

// @media only screen and (max-width: 640px) {
//     .main-section {
//         height: 480px;
//         background-image: url(../../img/aboutme-page-img/ellipse__top_800.png);
//     }

//     .main-section__left-block {
//         padding-top: 70px;
//     }

//     .man-section__title {
//         font-size: 32px;
//         line-height: 41px;
//     }

//     .ms-title__discr {
//         font-size: 16px;
//         line-height: 20px;
//     }

//     .man-section__discr {
//         width: 440px;
//         margin-bottom: 20px;
//         font-size: 18px;
//         line-height: 23px;
//     }

//     .specialization-list__title {
//         margin-bottom: 8px;
//         font-size: 16px;
//         line-height: 20px;
//     }

//     .specialization-list__item {
//         font-size: 16px;
//         line-height: 20px;
//         background-image: url(../../img/aboutme-page-img/item__img_800.png);
//         padding-left: 36px;
//     }

//     .specialization-list__item:not(:last-of-type) {
//         margin-bottom: 4px;
//     }

//     .man-section__img {
//         margin-bottom: 26px;
//     }

//     .contact-block {
//         padding-right: 4px;
//     }

//     .contact-block__icon:not(:last-of-type) {
//         margin-right: 4px;
//     }
// }

// @media only screen and (max-width: 480px) {
//     .main-section {
//         height: 360px;
//         background-image: none;
//     }
    
//     .man-section__discr {
//         width: 320px;
//     }
// }
