footer.footer
    .container.footer__continer
        .footer__left-block 
            img(src="../img/logo-gvs-footer.svg", alt="Большой палец вверх в круглешке").footer-logo-icon             
            .footer-contact-list 
                .footer-contact__title Контакты:
                .footer-contact__item ИП Губин Владимир Сергеевич
                .footer-contact__item ОГРНИП 83765789390
                .footer-contact__item Тел: +7 (812) 921-59-71 ч
                .social-block-list
                    a(href="https://t.me/gubinvs").social-block-list__icon
                        img(src="../img/icons_telegram.svg", alt="Иконка телеграмм")
                    a(href="https://vk.com/club220708521").social-block-list__icon 
                        img(src="../img/icons_vkontakte.svg", alt="Иконка вконтакте")
                    a(href="mailto:gubinvs@gmail.com").social-block-list__icon 
                        img(src="../img/icons_mail.svg", alt="Иконка электронной почты")
        .footer-section__right-block 
