footer.footer
    .container.footer__continer
        .footer__left-block 
            //-- img(src="../img/logo-gvs-footer.svg", alt="Большой палец вверх в круглешке")
            .footer-logo-icon   
                <svg width="80" height="58" viewBox="0 0 80 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="31.8447" cy="55.9137" rx="1.5534" ry="1.66906" fill="#E0E3E4"/>
                <ellipse cx="48.3496" cy="2.29493" rx="1.74757" ry="1.8777" fill="#E0E3E4"/>
                <ellipse cx="52.6214" cy="10.6404" rx="1.74757" ry="1.8777" fill="#E0E3E4"/>
                <ellipse cx="56.8932" cy="20.6547" rx="1.74757" ry="1.8777" fill="#E0E3E4"/>
                <ellipse cx="60.9709" cy="27.9569" rx="1.94175" ry="2.08633" fill="#E0E3E4"/>
                <ellipse cx="57.0874" cy="35.8848" rx="1.94175" ry="2.08633" fill="#E0E3E4"/>
                <ellipse cx="48.5437" cy="35.8848" rx="1.94175" ry="2.08633" fill="#E0E3E4"/>
                <ellipse cx="60.9709" cy="12.9352" rx="1.94175" ry="2.08633" fill="#E0E3E4"/>
                <ellipse cx="66.9903" cy="19.403" rx="2.13592" ry="2.29496" fill="#E0E3E4"/>
                <ellipse cx="69.3204" cy="28.1656" rx="2.13592" ry="2.29496" fill="#E0E3E4"/>
                <ellipse cx="66.9903" cy="37.3454" rx="2.13592" ry="2.29496" fill="#E0E3E4"/>
                <ellipse cx="61.165" cy="43.6043" rx="2.52427" ry="2.71223" fill="#E0E3E4"/>
                <ellipse cx="52.6214" cy="46.108" rx="2.52427" ry="2.71223" fill="#E0E3E4"/>
                <ellipse cx="44.2719" cy="43.813" rx="2.71845" ry="2.92086" fill="#E0E3E4"/>
                <ellipse cx="38.2525" cy="37.3453" rx="2.91262" ry="3.1295" fill="#E0E3E4"/>
                <ellipse cx="57.0874" cy="2.08633" rx="1.94175" ry="2.08633" fill="#E0E3E4"/>
                <ellipse cx="65.0485" cy="5.21586" rx="2.13592" ry="2.29496" fill="#E0E3E4"/>
                <ellipse cx="71.8447" cy="10.8489" rx="2.3301" ry="2.5036" fill="#E0E3E4"/>
                <ellipse cx="76.1165" cy="19.1941" rx="2.3301" ry="2.5036" fill="#E0E3E4"/>
                <ellipse cx="77.4757" cy="28.5828" rx="2.52427" ry="2.71223" fill="#E0E3E4"/>
                <ellipse cx="75.9223" cy="37.7626" rx="2.52427" ry="2.71223" fill="#E0E3E4"/>
                <ellipse cx="71.8447" cy="45.482" rx="2.71845" ry="2.92086" fill="#E0E3E4"/>
                <ellipse cx="65.2427" cy="51.3237" rx="2.71845" ry="2.92086" fill="#E0E3E4"/>
                <ellipse cx="57.2815" cy="54.4532" rx="2.91262" ry="3.1295" fill="#E0E3E4"/>
                <ellipse cx="48.1553" cy="54.6619" rx="3.1068" ry="3.33813" fill="#E0E3E4"/>
                <ellipse cx="40" cy="51.3237" rx="3.1068" ry="3.33813" fill="#E0E3E4"/>
                <ellipse cx="33.9805" cy="45.6906" rx="3.30097" ry="3.54676" fill="#E0E3E4"/>
                <ellipse cx="29.903" cy="37.5539" rx="3.49515" ry="3.7554" fill="#E0E3E4"/>
                <ellipse cx="22.7184" cy="55.7051" rx="1.74757" ry="1.8777" fill="#E0E3E4"/>
                <ellipse cx="14.7573" cy="52.5755" rx="1.94175" ry="2.08633" fill="#E0E3E4"/>
                <ellipse cx="8.34948" cy="46.9424" rx="2.13592" ry="2.29496" fill="#E0E3E4"/>
                <ellipse cx="4.27187" cy="38.8057" rx="2.3301" ry="2.5036" fill="#E0E3E4"/>
                <ellipse cx="2.3301" cy="29.6259" rx="2.3301" ry="2.5036" fill="#E0E3E4"/>
                <ellipse cx="3.88353" cy="20.0287" rx="2.3301" ry="2.5036" fill="#E0E3E4"/>
                <ellipse cx="8.34956" cy="12.3094" rx="2.52427" ry="2.71223" fill="#E0E3E4"/>
                <ellipse cx="14.7573" cy="6.67623" rx="2.71845" ry="2.92086" fill="#E0E3E4"/>
                <ellipse cx="23.1068" cy="3.1295" rx="2.91262" ry="3.1295" fill="#E0E3E4"/>
                <ellipse cx="31.6505" cy="3.1295" rx="2.91262" ry="3.1295" fill="#E0E3E4"/>
                <ellipse cx="39.8058" cy="6.46751" rx="2.91262" ry="3.1295" fill="#E0E3E4"/>
                <ellipse cx="46.4078" cy="12.3095" rx="3.30097" ry="3.54676" fill="#E0E3E4"/>
                <ellipse cx="50.6796" cy="20.2373" rx="3.30097" ry="3.54676" fill="#E0E3E4"/>
                <ellipse cx="52.0388" cy="29.626" rx="3.49515" ry="3.7554" fill="#E0E3E4"/>
                <ellipse cx="27.1845" cy="47.1511" rx="1.5534" ry="1.66906" fill="#E0E3E4"/>
                <ellipse cx="22.9127" cy="37.1367" rx="1.5534" ry="1.66906" fill="#E0E3E4"/>
                <ellipse cx="22.9127" cy="37.1367" rx="1.5534" ry="1.66906" fill="#E0E3E4"/>
                <ellipse cx="27.3787" cy="29.4172" rx="1.74757" ry="1.8777" fill="#E0E3E4"/>
                <ellipse cx="18.835" cy="29.4172" rx="1.74757" ry="1.8777" fill="#E0E3E4"/>
                <ellipse cx="19.0292" cy="45.0647" rx="1.94175" ry="2.08633" fill="#E0E3E4"/>
                <ellipse cx="13.398" cy="38.5971" rx="2.13592" ry="2.29496" fill="#E0E3E4"/>
                <ellipse cx="10.6796" cy="29.4173" rx="2.13592" ry="2.29496" fill="#E0E3E4"/>
                <ellipse cx="13.2039" cy="20.8633" rx="2.3301" ry="2.5036" fill="#E0E3E4"/>
                <ellipse cx="19.0291" cy="14.1871" rx="2.3301" ry="2.5036" fill="#E0E3E4"/>
                <ellipse cx="27.3786" cy="11.892" rx="2.52427" ry="2.71223" fill="#E0E3E4"/>
                <ellipse cx="35.7281" cy="14.1871" rx="2.71845" ry="2.92086" fill="#E0E3E4"/>
                <ellipse cx="41.5533" cy="20.446" rx="2.71845" ry="2.92086" fill="#E0E3E4"/>
                <ellipse cx="44.0777" cy="29.4173" rx="2.91262" ry="3.1295" fill="#E0E3E4"/>
                <ellipse cx="23.301" cy="21.6978" rx="1.94175" ry="2.08633" fill="#E0E3E4"/>
                <ellipse cx="31.6505" cy="21.9064" rx="2.13592" ry="2.29496" fill="#E0E3E4"/>
                <ellipse cx="35.534" cy="29.4173" rx="2.13592" ry="2.29496" fill="#E0E3E4"/>
                </svg>
            ul.footer-contact-list
                li.footer-contact__item ООО "Компонент энергии"
                li.footer-contact__item ИНН 590302376610
                li.footer-contact__item КПП 590302376610
                li.footer-contact__item ОГРН 590302376610
                li.footer-contact__item E-mail: office@energycomponent.ru
                li.social-block-list
                    a(href="https://t.me/gubinvs").social-block-list__icon
                        //- img(src="../img/icons_telegram.svg", alt="Иконка телеграмм")
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_336_207)">
                        <path d="M25 0C11.193 0 0 11.193 0 25C0 38.807 11.193 50 25 50C38.807 50 50 38.807 50 25C50 11.193 38.807 0 25 0ZM39.063 11.6194L33.4655 37.9071C33.3605 38.4232 32.7724 38.6762 32.3258 38.3963L23.7179 32.6873L19.1901 36.9008C18.787 37.2455 18.1629 37.0777 17.9875 36.5768L15.0394 27.2789L7.12301 24.0322C6.51566 23.7554 6.52427 22.7881 7.14684 22.5462L38.0501 10.7656C38.6067 10.5497 39.1816 11.0343 39.063 11.6194Z" fill="#E0E3E4"/>
                        <path d="M18.9386 33.8191L19.4415 29.0394L33.4026 15.3926L16.5487 26.4609L18.9386 33.8191Z" fill="#E0E3E4"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_336_207">
                        <rect width="50" height="50" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                    a(href="https://vk.com/club220708521").social-block-list__icon 
                        //- img(src="../img/icons_vkontakte.svg", alt="Иконка вконтакте")
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_336_212)">
                        <path d="M25 0C11.193 0 0 11.193 0 25C0 38.807 11.193 50 25 50C38.807 50 50 38.807 50 25C50 11.193 38.807 0 25 0ZM35.8412 28.3045C36.0379 28.5478 36.5058 29.0218 37.246 29.7276H37.2632L37.2805 29.7443L37.2977 29.762L37.3327 29.7965C38.9631 31.3113 40.0673 32.5894 40.6458 33.6303C40.6808 33.6875 40.7183 33.7605 40.7588 33.8472C40.7989 33.9339 40.8395 34.087 40.88 34.3066C40.9201 34.5271 40.917 34.7228 40.8714 34.8962C40.8253 35.0691 40.6808 35.2293 40.4379 35.3732C40.1951 35.5182 39.8539 35.5902 39.4143 35.5902L34.9737 35.6602C34.6964 35.718 34.3725 35.6891 34.0024 35.5735C33.6318 35.4574 33.3316 35.3301 33.1005 35.1917L32.7532 34.9829C32.4059 34.74 32.0013 34.3699 31.539 33.8731C31.0761 33.3758 30.6802 32.9276 30.3506 32.5286C30.0211 32.1296 29.6682 31.795 29.2921 31.5222C28.9159 31.2505 28.5894 31.1608 28.3121 31.2535C28.2776 31.2657 28.231 31.286 28.1732 31.3144C28.1149 31.3433 28.017 31.4264 27.8781 31.5658C27.7392 31.7048 27.615 31.8756 27.505 32.0774C27.395 32.2802 27.2966 32.5808 27.2099 32.9798C27.1232 33.3783 27.0852 33.827 27.0974 34.3243C27.0974 34.4972 27.0766 34.6569 27.0365 34.8014C26.996 34.9459 26.9524 35.0528 26.9062 35.1218L26.8368 35.2085C26.6284 35.429 26.3222 35.5557 25.9176 35.5902H23.9227C23.1014 35.6369 22.2573 35.5416 21.3903 35.3043C20.5234 35.0665 19.7624 34.7608 19.1094 34.3846C18.4554 34.0095 17.8603 33.6277 17.3229 33.2404C16.785 32.8526 16.3774 32.5205 16.1 32.2432L15.6666 31.8264C15.551 31.7113 15.3918 31.5375 15.1895 31.3058C14.9872 31.0746 14.574 30.5489 13.9494 29.7276C13.3249 28.9063 12.7119 28.0337 12.1106 27.108C11.5094 26.1828 10.8011 24.9625 9.9854 23.4476C9.17018 21.9333 8.4158 20.3607 7.72175 18.7297C7.6523 18.5452 7.61731 18.389 7.61731 18.2618C7.61731 18.135 7.63455 18.0423 7.66953 17.984L7.73899 17.88C7.91237 17.66 8.24191 17.55 8.72759 17.55L13.4805 17.5155C13.6194 17.5388 13.7522 17.5764 13.8795 17.6286C14.0067 17.6803 14.0995 17.7295 14.1573 17.7756L14.244 17.8278C14.429 17.9556 14.5674 18.1401 14.6602 18.3829C14.8914 18.9619 15.1576 19.5601 15.4582 20.1787C15.7588 20.7972 15.9961 21.2687 16.1695 21.5921L16.4468 22.0955C16.7819 22.7891 17.1059 23.3909 17.4182 23.8994C17.731 24.4084 18.0108 24.8048 18.2598 25.0877C18.5082 25.3711 18.748 25.5942 18.9797 25.7554C19.2108 25.9176 19.4075 25.9987 19.5698 25.9987C19.7315 25.9987 19.8877 25.9698 20.0382 25.9121C20.061 25.9004 20.0899 25.8715 20.1249 25.8254C20.1599 25.7792 20.2288 25.652 20.3333 25.4431C20.4372 25.2352 20.5153 24.9635 20.5675 24.6279C20.6197 24.2933 20.6745 23.8248 20.7323 23.2236C20.7901 22.6218 20.7901 21.8993 20.7323 21.0552C20.709 20.5924 20.6567 20.1705 20.5761 19.7888C20.495 19.4075 20.4139 19.1414 20.3333 18.9908L20.2288 18.783C19.9399 18.39 19.4486 18.1411 18.7546 18.0367C18.604 18.0144 18.6329 17.8755 18.8413 17.621C19.038 17.4009 19.2575 17.2281 19.5003 17.1003C20.1133 16.8002 21.4953 16.6613 23.6464 16.6836C24.5944 16.6957 25.3752 16.7703 25.9881 16.9092C26.2193 16.9675 26.4129 17.045 26.5691 17.1434C26.7252 17.2412 26.8439 17.3807 26.925 17.5591C27.0056 17.7386 27.0664 17.9236 27.107 18.1143C27.1476 18.3054 27.1678 18.569 27.1678 18.9036C27.1678 19.2392 27.1623 19.5576 27.1506 19.8577C27.1389 20.1584 27.1247 20.5665 27.1075 21.0806C27.0903 21.5951 27.0811 22.0727 27.0811 22.5118C27.0811 22.6395 27.0756 22.8819 27.0639 23.2403C27.0522 23.5992 27.0487 23.8765 27.0553 24.0727C27.0609 24.2694 27.0811 24.5042 27.1156 24.7754C27.1506 25.0471 27.217 25.2733 27.3154 25.4517C27.4132 25.6312 27.5435 25.7726 27.7057 25.8766C27.798 25.9004 27.8964 25.9232 28.0008 25.9465C28.1047 25.9693 28.2548 25.9065 28.4515 25.7554C28.6477 25.6053 28.8677 25.4056 29.1106 25.1572C29.3534 24.9093 29.654 24.5219 30.0125 23.9952C30.3704 23.4699 30.7638 22.8479 31.1917 22.1305C31.8857 20.928 32.5043 19.6266 33.0477 18.2273C33.0939 18.1112 33.1517 18.0103 33.2211 17.9236C33.2906 17.8364 33.354 17.7756 33.4117 17.7411L33.4812 17.6889C33.504 17.6772 33.5329 17.663 33.5679 17.6458C33.6029 17.6291 33.6779 17.6113 33.7935 17.5936C33.9091 17.5769 34.0247 17.5738 34.1408 17.5855L39.1365 17.55C39.5872 17.4927 39.9573 17.5069 40.2463 17.5931C40.5353 17.6798 40.7147 17.7756 40.7842 17.8795L40.8886 18.0529C41.1543 18.7936 40.2874 20.4925 38.2868 23.1526C38.009 23.5232 37.6328 24.0149 37.1593 24.6274C36.2574 25.7843 35.7372 26.5417 35.5993 26.9012C35.4016 27.3742 35.4827 27.8426 35.8412 28.3045Z" fill="#E0E3E4"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_336_212">
                        <rect width="50" height="50" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                    a(href="mailto:gubinvs@gmail.com").social-block-list__icon 
                        //- img(src="../img/icons_mail.svg", alt="Иконка электронной почты")
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_336_214)">
                        <path d="M25 0C11.193 0 0 11.193 0 25C0 38.807 11.193 50 25 50C38.807 50 50 38.807 50 25C50 11.193 38.807 0 25 0ZM39.9553 14.642C39.9664 14.642 39.9761 14.6481 39.9872 14.6486L26.0368 28.599C25.5719 29.0639 24.7485 29.0649 24.2836 28.598L10.3276 14.642H39.9553ZM9.35472 15.5753C9.35472 15.5677 9.35878 15.5616 9.35878 15.5545L18.8418 25.0375L9.35472 34.5246V15.5753ZM10.2881 35.6186C10.245 35.6186 10.208 35.5999 10.1664 35.5943L19.7822 25.9785L23.3427 29.539C23.8269 30.0231 24.4722 30.2893 25.1602 30.2893C25.8487 30.2893 26.493 30.0221 26.9772 29.539L30.4226 26.0935L39.9477 35.6186H10.2881ZM40.8886 34.6782L31.3636 25.1531L40.8886 15.6285V34.6782Z" fill="#E0E3E4"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_336_214">
                        <rect width="50" height="50" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
        nav.footer-section__right-block
            ul.footer-nav-list 
                li.footer-nav-list__title Направления деятельности:
                li.footer-nav-list__item 
                    a(href="index.html").footer-nav-link Система менеджмента качества
                li.footer-nav-list__item 
                    a(href="labor.html").footer-nav-link Система управления охраной труда
                li.footer-nav-list__item 
                    a(href="supply.html").footer-nav-link Система управления закупками
                //- li.footer-nav-list__item Система бизнес-аналитики
                //- li.footer-nav-list__item Складская и транспортная логистика
                //- li.footer-nav-list__item Бухгалтерское сопровождение
            .footer-tel-block 
                .tel-min +7 (812) 
                .tel-big 921-59-71
    .container
        .copyright &copy; Компонент энергии | 2019-2023


