footer.footer
    .container.footer__continer
        .footer__left-block 
            img(src="../img/logo-gvs-footer.svg", alt="Большой палец вверх в круглешке").footer-logo-icon             
            ul.footer-contact-list 
                li.footer-contact__title Контакты:
                li.footer-contact__item ИП Губин Владимир Сергеевич
                li.footer-contact__item ОГРНИП 83765789390
                li.footer-contact__item Тел: +7 (812) 921-59-71
                .social-block-list
                    a(href="https://t.me/gubinvs").social-block-list__icon
                        img(src="../img/icons_telegram.svg", alt="Иконка телеграмм")
                    a(href="https://vk.com/club220708521").social-block-list__icon 
                        img(src="../img/icons_vkontakte.svg", alt="Иконка вконтакте")
                    a(href="mailto:gubinvs@gmail.com").social-block-list__icon 
                        img(src="../img/icons_mail.svg", alt="Иконка электронной почты")
        nav.footer-section__right-block
            ul.footer-nav-list 
                li.footer-nav-list__title Направления деятельности:
                li.footer-nav-list__item 
                    a(href="https://lean.gubinvs.ru/index.html").footer-nav-link Система менеджмента качества
                li.footer-nav-list__item 
                    a(href="https://lean.gubinvs.ru/labor.html").footer-nav-link Система управления охраной труда
                li.footer-nav-list__item 
                    a(href="https://lean.gubinvs.ru/supply.html").footer-nav-link Система управления закупками
                //- li.footer-nav-list__item Система бизнес-аналитики
                //- li.footer-nav-list__item Складская и транспортная логистика
                //- li.footer-nav-list__item Бухгалтерское сопровождение
                
    .container
        .copyright &copy; Контент | 2019-2023



