section.ip-card-section 
    .container.ip-card-section__container 
        .section-title-block
            h2.section-title-block__title Процесс внедрения СМК
            .section-title-block__discr возможен в любых организациях, принявших решение повышать эффективность своей деятельности и базируется на трех основных принципах.
