section.ip-card-section 
    .container.ip-card-section__container 
        .section-title-block
            h2.section-title-block__title Процесс внедрения СМК
            .section-title-block__discr возможен в любых организациях принявших решение повышать эффективность своей деятельности и базируется на трех основных принципах.
        .card-container
            .big-card
                .big-card__img-block
                .big-card__text-block
                    .card-text-block__title Распределение ролей и полномочий
                    .card-text-block__discr Для ускорения решения задач и коммуникации сотрудников определяются ответственные лица и границы их полномочий.
            .big-card
                .mini-card.mini-card_revers
                    .mini-card__img-block.mini-card__img-block1 
                    .mini-card__text-block 
                        .card-text-block__title_mini-card Регламентирование бизнес-процессов
                        .card-text-block__discr_mini-card Последовательность и способы выполнения техн. операций.
                .mini-card
                    .mini-card__img-block.mini-card__img-block2 
                    .mini-card__text-block
                        .card-text-block__title_mini-card Внедрение бизнес-аналитики
                        .card-text-block__discr_mini-card Параметры оценки качества и сроков выполнения бизнес-задач.