section.ip-card-section 
    .container.ip-card-section__container 
        .section-title-block
            h2.section-title-block__title Процесс внедрения СМК
            .section-title-block__discr возможен в любых организациях, принявших решение повышать эффективность своей деятельности и базируется на трех основных принципах.
        .card-container
            .big-card
                .big-card__img-block
                .big-card__text-block
            .big-card
                .mini-card.mini-card_revers
                    .mini-card__img-block.mini-card__img-block1
                    .mini-card__text-block
                .mini-card
                    .mini-card__img-block.mini-card__img-block2
                    .mini-card__text-block