section.ip-scheme-section 
    .container.ip-scheme-section__container 
        .section-title-block
            h2.section-title-block__title Эволюционные этапы внедрения
            .section-title-block__discr позволят управлять эффективностью, повышать ценность продукции или услуг, снижать потери 
                | за счет систематизации бизнес-процессов и объединения их в единый поток.