section.main-section 
    .left-banner
        .banner__big-line.mr-8 
        .banner__min-line
    .container.main-section__container
        .main-title-block
    .right-banner
        .banner__min-line.mr-8 
        .banner__big-line
        

