section.labor-suot-section
    .container.labor-suot-section__container 
        h2.labor-suot-section__title Система управления охраной труда (СУОТ)
        .block-content-ss
            .suot-card  
                .suot-card__left-part
                    .left-part-sc__title Создание нормативной базы
                    .left-part-sc__list
                        .left-part-sc__item Положения о СУОТ
                        .left-part-sc__item Приказы по ОТ
                        .left-part-sc__item Должностные инструкции
                        .left-part-sc__item Инструкции по ОТ
                .suot-card__bottom-part
                    .left-part-sc__button от 80 000 руб.
            .suot-card  
                .suot-card__left-part
                    .left-part-sc__title Внедрение и обучение
                    .left-part-sc__list
                        .left-part-sc__item Разработка мероприятий
                        .left-part-sc__item Конспектов инструктажей
                        .left-part-sc__item Оформление журналов
                .suot-card__bottom-part
                    .left-part-sc__button от 50 000 руб. 
            .suot-card.suot-card__none
                .suot-card__left-part
                    .left-part-sc__title Контроль соблюдения
                    .left-part-sc__list
                        .left-part-sc__item З-х ступенчатая система контроля
                        .left-part-sc__item Проверки соблюдения требований ОТ
                        .left-part-sc__item Контроль состояния рабочих мест
                .suot-card__bottom-part
                    .left-part-sc__button от 120 000 руб.
                    



