section.labor-main-section 
    .container.labor-main-section__container 
        .lms-left-block
            .lms-title-block 
                .lms-title-block__title БЕРЕЖЛИВАЯ КОМПАНИЯ
                .lms-title-block__discription системные компании более привлекательны для заказчиков и инвесторов.
                button(onclick="document.location='index.html'").lms-title-block__button Узнать подробнее ...
        .lms-right-block
            img(src="../../img/labor-page/ss-img-gerl.png", alt="Приятная девушка в очках мило улыбается вам").lms-right-block__img
            .windows-phone-block
                .windows-phone-block__code-sity +7 (812)
                .windows-phone-block__numder-list
                    .windows-phone-block__number-item 9
                    .windows-phone-block__number-item 2
                    .windows-phone-block__number-item 1
                    .windows-phone-block__number-item 5
                    .windows-phone-block__number-item 9
                    .windows-phone-block__number-item 7
                    .windows-phone-block__number-item 1
            .slogan-block
                .slogan-block__line.first-line ПЕРВЫЙ ШАГ
                .slogan-block__line.second-line К СИСТЕМНОЙ КОМПАНИИ
