section.labor-suot-section
    .container.labor-suot-section__container 
        h2.labor-suot-section__title Система управления охраной труда (СУОТ)
        .block-content-ss
            .suot-card  
                .suot-card__left-part
                    .left-part-sc__title Комплект документов
                    .left-part-sc__list
                        .left-part-sc__item Приказы и положения
                        .left-part-sc__item Инструкции по ОТ
                        .left-part-sc__item Должностные инструкции
                        .left-part-sc__item Журналы инструктажей
                .suot-card__bottom-part
                    .left-part-sc__button от 60 000 р.
            .suot-card  
                .suot-card__left-part
                    .left-part-sc__title Отдельные документы
                    .left-part-sc__list
                        .left-part-sc__item Положение по СУОТ и т.д.
                        .left-part-sc__item Инструкция по ОТ
                        .left-part-sc__item Конспект инструктажа
                        .left-part-sc__item Мероприятия по ОТ
                .suot-card__bottom-part
                    .left-part-sc__button от 2 500 р. 
            .suot-card.suot-card__none
                .suot-card__left-part
                    .left-part-sc__title Отдельные документы
                    .left-part-sc__list
                        .left-part-sc__item Положение по СУОТ и т.д.
                        .left-part-sc__item Инструкция по ОТ
                        .left-part-sc__item Конспект инструктажа
                        .left-part-sc__item Мероприятия по ОТ
                .suot-card__bottom-part
                    .left-part-sc__button от 2 500 р.


