@import '../variables.scss';

.ip-feedback-section__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.ip-feedback-section__img-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ip-feedback-section__img-block_border {
    width: 240px;
    height: 20px;
    background-color: $color-second;
}

.ip-feedback-section__img {
    border: 1px solid $color-second;
}


@media only screen and (max-width: 1280px) {
    .form-block {
        width: 490px;
    }

    .ip-feedback-section__img-block_border {
        width: 200px;
    }
}

@media only screen and (max-width: 1024px) {
    .form-block {
        width: 395px;
    }

    .ip-feedback-section__img-block {
        justify-content: center;
    }

    .ip-feedback-section__img-block_border {
        width: 160px;
    }
}

@media only screen and (max-width: 800px) {
    .form-block {
        width: 100%;
    }

    .ip-feedback-section__img-block {
        display:  none;
    }
}
