section.aboutmemain-section
    .container.main-section-container
            .main-section__left-block
                .man-section__title Губин
                .man-section__title Владимир Сергеевич
                .ms-title__discr cистемный интегратор бизнес-процессов
                .man-section__discr Я помогаю делать бизнес организованным и эффективным, бережно использовать ресурсы, выявлять и устранять потери.
                .ms-discr__specialization-list
                    .specialization-list__title Моя специализация:
                    .specialization-list__item Система менеджмента качества
                    .specialization-list__item Складская и транспортная логистика
                    .specialization-list__item Материально техническое обеспечение
                    .specialization-list__item Политика в области охраны труда