section.main-section
    .container.main-section-container
            .main-section__left-block
                .man-section__title Губин
                .man-section__title Владимир Сергеевич
                .ms-title__discr cистемный интегратор бизнес-процессов
                .man-section__discr Я помогаю делать бизнес организованным и эффективным, бережно использовать ресурсы, выявлять и устранять потери.
                .ms-discr__specialization-list
                    .specialization-list__title Моя специализация:
                    .specialization-list__item Система менеджмента качества
                    .specialization-list__item Складская и транспортная логистика
                    .specialization-list__item Материально техническое обеспечение
                    .specialization-list__item Политика в области охраны труда
            .main-section__right-block
                picture
                    source(srcset="../img/main-section__img_800.png" media="(max-width: 926px)")
                    source(srcset="../img/main-section__img_1024.png" media="(max-width: 979px)")
                    source(srcset="../img/main-section__img_1280.png" media="(max-width: 1050px)")
                    source(srcset="../img/main-section__img_1440.png" media="(max-width: 1100px)")
                    source(srcset="../img/main-section__img_1680.png" media="(max-width: 1142px)")
                    img(src="img/main-section__img_1920.png", alt="Фото ИП Губин Владимир Сергеевич").man-section__img
                .contact-block
                    a(href="https://t.me/gubinvs").contact-block__icon.contact-block__telegram
                        picture 
                            source(srcset="../img/telegram-brown_800.png" media="(max-width: 973px)")
                            source(srcset="../img/telegram-brown_1280.png" media="(max-width: 1100px)")
                            source(srcset="../img/telegram-brown_1680.png" media="(max-width: 1680px)")
                            img(src="../img/telegram-brown_1920.png", alt="Телеграмм")
                    a(href="tel:+79223540043”").contact-block__icon.contact-block__phone
                        picture 
                            source(srcset="../img/phone-brown_800.png" media="(max-width: 973px)")
                            source(srcset="../img/phone-brown_1280.png" media="(max-width: 1100px)")
                            source(srcset="../img/phone-brown_1680.png" media="(max-width: 1680px)")
                            img(src="../img/phone-brown_1920.png", alt="Телефон")
                    a(href="mailto:gubinvs@gmail.com”").contact-block__icon.contact-block__email
                        picture
                            source(srcset="../img/email-brown_800.png" media="(max-width: 973px)") 
                            source(srcset="../img/email-brown_1280.png" media="(max-width: 1100px)")
                            source(srcset="../img/email-brown_1680.png" media="(max-width: 1680px)")
                            img(src="../img/email-brown_1920.png", alt="Электронная почта")