section
    .about-section__title-block
        .as-title-block__line
        .as-title-block__title О себе
    .container
        .about-section__text-block
            .as-text-block__item <b>Губин Владимир Сергеевич</b> (родился в 27 августа 1974 года в Пермском крае, г. Пермь) 
                                    | системный интегратор "бережливой компании", инженер-технолог, управленец, логист и программист.
            .as-text-block__item 1993 году окончил Пермский техникум железнодорожного транспорта, в 2001 году без отрыва от производства окончил
                                    |  Уральский Государственный Университет Путей Сообщения, получив квалификацию инженера путей сообщения 
                                    | по специальности: "Организация перевозок и управление на транспорте" 
            .as-text-block__item Ранее в 1995 - 2004 г.г. инженер по охране труда и главный инженер железнодорожной станции Пермь-сортировочная, В 2004 - 2009 г.г. начальник железнодорожной станции Пермь-2, в 2009 - 2013 г.г. региональный представитель 
                                    |   в Пермском крае ОАО "Первая грузовая компания", в 2013 - 2017 г.г. директор в логистической компании ООО "ЖДКонсалтинг",
                                    |   в 2017 - 2022 г.г заместитель директора по техническим вопросам и производству ООО "Научно-производственная фирма "Монолит". 
                                    |   С января 2023 года директор по производству ООО "Хэнди-Автомейшн" (Санкт-Петербург), компании оказывающей услуги промышленной автоматизации производственных процессов, внедрением систем автоматики, 
                                    |   сборке щитов управления и разработке АСУ ТП. 
            .as-text-block__item.bold Сейчас помогаю компаниям желающим вырасти из “гаражных” в системные, 
                                    | масштабироваться или организовать серийное производство. Оказываю услуги по 
                                    | систематизации бизнес-процессов внедряя идеологию и инструменты "бережливого 
                                    | производства", стандартизирую производственные процессы, складскую и 
                                    | транспортную логистику, внедряю политику в области охраны труда.
            .as-text-block__item.as-text-block__bottom-slogan С Уважением к Вам и Вашему бизнесу.
    .about-section__bottom-border-block
            .as-bottom-border-block__left-block
            .as-bottom-border-block__right-block
