.labor-suot-section {
  background-color: #F9F8F8;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.labor-suot-section__title {
  padding-top: 24px;
  padding-left: 90px;
  margin-bottom: 40px;
}

.block-content-ss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.suot-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #FFFFFF;
}

.suot-card:not(:last-of-type) {
  margin-right: 20px;
}

.suot-card__left-part {
  width: 320px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.left-part-sc__title {
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding-left: 24px;
  margin-bottom: 24px;
}

.left-part-sc__list {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  margin-bottom: 40px;
}

.left-part-sc__item {
  padding-left: 24px;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  background-image: url(../../img/labor-page/suot-card-icon.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.left-part-sc__item:not(:last-of-type) {
  margin-bottom: 12px;
}

.suot-card__bottom-part {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 196px;
  height: 54px;
  background-color: #F9F8F8;
}

.left-part-sc__button {
  width: 190px;
  height: 48px;
  padding: 11px 24px;
  text-align: center;
  background-color: #8E0532;
  color: #FFFFFF;
}

@media only screen and (max-width: 1280px) {
  .labor-suot-section__title {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1024px) {
  .suot-card__none {
    display: none;
  }
  .suot-card:not(:nth-child(3)) {
    margin-bottom: 20px;
  }
  .suot-card:nth-child(2) {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .suot-card__none {
    display: inherit;
  }
  .suot-card {
    width: 100%;
  }
  .suot-card:not(:last-of-type) {
    margin-right: 0px;
  }
  .suot-card__left-part {
    width: calc(100% - 64px);
  }
}