//-- переменные
@import '../variables/variables.scss';

.labor-main-section {
    margin-bottom: 16px;
}

.labor-main-section__container {
    display: flex;
    justify-content: space-between;
}

.lms-left-block {
    display: flex;
    align-items: center;
    padding-left: 87px;
}

.lms-title-block__title {
    font-family: $ffTitle;
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
    color: $textColor;
}

.lms-title-block__discription {
    width: 343px;
    font-size: 16px;
    line-height: 2opx;
    font-weight: 300;
    margin-bottom: 48px;
}

.lms-title-block__button {
    width: 235px;
    height: 40px;
    background-color: $borderColorMax;
    color: $textContactblokColor;
}

.lms-right-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 575px;
    height: 350px;
    flex-shrink: 0;
    background-color: $borderColorMax;
    padding-left: 28px;
}

.lms-right-block__img {
    position: absolute;
    bottom: -70px;
    right: -90px;
}

.windows-phone-block {
    margin-bottom: 84px;
}

.windows-phone-block__code-sity {
    color: $textContactblokColor;
    font-size: 20px;
    font-family: $ffWindowsPhone;
    font-weight: 400;
}

.windows-phone-block__numder-list {
    display: flex;
}

.windows-phone-block__number-item {
    width: 30px;
    height: 60px;
    border-radius: 4px;
    background-color: $textContactblokColor;
    color: $borderColorMax;
    font-size: 40px;
    font-family: $ffWindowsPhone;
    font-weight: 700;
    text-align: center;
}

.windows-phone-block__number-item:not(:last-of-type) {
    margin-right: 4px;
}

.windows-phone-block__number-item:nth-child(3),
.windows-phone-block__number-item:nth-child(5) {
    margin-right: 8px;
}

.slogan-block__line {
    font-size: 20px;
    font-family: $ffWindowsPhone;
    font-weight: 500;
}

.first-line {
   color: #DE84A2; 
}

.second-line {
    color: #FFFFFF;
}

@media only screen and (max-width: 1280px) {
    .lms-left-block {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 1024px) {
    .labor-main-section__container {
        position: relative;
        justify-content: flex-end;
    }

    .lms-left-block {
        position: absolute;
        top: 20px;
        left: 45px;
        z-index: 100;
    }

    .lms-right-block {
        width: 100%;
        padding-left: 210px;
    }

    .lms-title-block__title {
        color: $textContactblokColor;
    }

    .lms-title-block__discription {
        color: #DE84A2;
        margin-bottom: 186px;
    }

    .lms-title-block__button {
        width: 235px;
        height: 40px;
        background-color: $bgColorBady;
        color: $borderColorMax;
    }

    .windows-phone-block {
        padding-top: 20px;
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 768px) {

    .lms-left-block {
        left: 65px;
    }

    .lms-right-block {
        padding-left: 24px;
    }

    .nav-header-list__active {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .lms-left-block {
        left: 45px;
    }

    .lms-right-block__img {
        display: none;
    }

    .lms-title-block__discription {
        width: 320px;
    }

    .windows-phone-block {
        padding-top: 120px;
    }

    .lms-right-block {
        padding-left: 24px;
        height: 395px;
    }
    
}
