//-- переменные
@import '../variables/variables.scss';

.labor-information-section {
    padding-bottom: 40px;
}

.labor-information-section__title {
    font-family: $ffTitle;
    color: #D9D9D9;
    margin-bottom: 4px;
}

.labor-information-section__discr-block {
    display: flex;
}

.discr-block-lis__card {
    padding-top: 20px;
    border-top: 1px solid #D9D9D9; 
}

.discr-block-lis__card1 {
    width: 847px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.db-lis-card__title {
    font-family: $ffTitle;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.db-lis-card__text {
    width: 490px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 24px;
}

.discr-block-lis__card2 {
    width: 413px;
}

.db-lis-card__text_card2 {
    width: 269px;
}

.discr-block-lis__card3,
.discr-block-lis__card4 {
    width: 630px;
}

.discr-block-lis__card3 {
    margin-right: 20px;
}

.db-lis-card__text_card3,
.db-lis-card__text_card4 {
    width: 370px;
}

@media only screen and (max-width: 1280px) {
    .discr-block-lis__card1 {
        width: 660px;
    }

    .discr-block-lis__card2 {
        width: 320px;
    }

    .discr-block-lis__card3,
    .discr-block-lis__card4 {
        width: 490px;
    }
}

@media only screen and (max-width: 1024px) {
    .discr-block-lis__card1 {
        width: 505px;
    }

    .discr-block-lis__card2 {
        width: 243px;
    }

    .discr-block-lis__card3,
    .discr-block-lis__card4 {
        width: 374px;
    }

    .db-lis-card__title {
        font-size: 20px;
    }

    .db-lis-card__text {
        width: 382px;
    }
    
    .db-lis-card__text_card2 {
        width: 243px;
    }

    .db-lis-card__text_card3,
    .db-lis-card__text_card4 {
    width: 315px;
    }
}

@media only screen and (max-width: 768px) {
    .labor-information-section__discr-block {
        flex-direction: column;
    }

    .discr-block-lis__card1,
    .discr-block-lis__card2,
    .discr-block-lis__card3,
    .discr-block-lis__card4 {
        width: 100%;
    }

    .db-lis-card__text,
    .db-lis-card__text_card2,
    .db-lis-card__text_card3,
    .db-lis-card__text_card4 {
        width: 70%;
    }
}




