section.section-title-block
    .container
        h2.section-title-block__title Заполните небольшей бриф 
        .section-title-block__discr это не отнимет у Вас и 5-ти минут, но позволит нам подготовиться к первому общению.

section.ip-brif-section
    .container.ip-brif-section__container
        button.ip-brif-section__button Заполнить бриф

    
