section.ip-brif-section
    .container.ip-brif-section__container
        button.ip-brif-section__button Заполните небольшой бриф
section.section-title-block
    .container
        h2.section-title-block__title Это займет не более 5 минут
        .section-title-block__discr для того, чтобы мы подготовились к нашему первому общению.
    
