section
    //-- Заголовок секции стадий внедрения с полосой
    .title-block-stage
        h3.title-block-stage__title 1. Этап - Определение цели
        .title-block-stage__line
    //-- Секция с контентом
    .ip-stage-section 
        //-- Банер слева при разрешении экрана более 1554px
        .left-banner
            .banner__big-line.mr-8 
            .banner__min-line
        //-- Основной контент страницы
        .container.ip-stage-section__container
            .content-block-container 
                .content-block-container__icon-list
                    img(src="../../img/index-page/icon-stages1_1.jpg", alt="Список").icon-list__item
                    img(src="../../img/index-page/icon-stages1_2.jpg", alt="Ракета").icon-list__item
                    img(src="../../img/index-page/icon-stages1_3.jpg", alt="Диаграмма роста результата").icon-list__item
                .content-block-container__title Цель внедрения СМК
                .content-block-container__discr Руководители, принявшие решение внедрять СМК, как правило, ставят своей целью повышение удовлетворенности клиента, увеличение заинтересованных лиц в продуктах или услугах компании, их качества, соблюдения сроков и конкурентной стоимости.
            .img-block-container 
                img(src="../../img/index-page/stages-img_1.jpg", alt="Мужчина в синем костюме у плаката с информацией о целях, расказывает сидящим за столом колегам чего им в месте нужно добиться.")
