section
    //-- Заголовок секции стадий внедрения с полосой
    .title-block-stage
        h3.title-block-stage__title 5. Этап - Мониторинг улучшений
        .title-block-stage__line
    //-- Секция с контентом
    .ip-stage-section 
        //-- Банер слева при разрешении экрана более 1554px
        .left-banner
            .banner__big-line.mr-8 
            .banner__min-line
        //-- Основной контент страницы
        .container.ip-stage-section__container
            .content-block-container 
                .content-block-container__icon-list
                    img(src="../../img/index-page/icon-stages5_1.jpg", alt="Список").icon-list__item
                    img(src="../../img/index-page/icon-stages5_2.jpg", alt="Ракета").icon-list__item
                    img(src="../../img/index-page/icon-stages5_3.jpg", alt="Диаграмма роста результата").icon-list__item
                .content-block-container__title Процесс непрерывных улучшений
                .content-block-container__discr Мониторинг является важнейшим инстру­ментом проверки и оценки эффективности про­цессов, успешно приме­няется для диагностики и устранения их недо­статков.
            .img-block-container 
                img(src="../../img/index-page/stages-img_5.jpg", alt="Женьщина стоя за столом и крушкой кофе смотрит на процесс и анализирует его результат").ip-stage-main-img