section.ip-feedback-section
    .container.ip-feedback-section__container
        form(action="https://lean.gubinvs.ru/php/request-form.php", method="POST").form-block
            h3.form-block__title Остались вопросы?
            input(type="text", name="name", placeholder="Ваше имя", required).form-block__input
            input(type="Email", name="email", placeholder="Ваш e-mail", required).form-block__input
            input(type="tel", name="tel", placeholder="+7 000 000 00 00", required).form-block__input
            textarea(name="message", cols="15", rows="3", placeholder="Ваше сообщение ...", required).form-message__textarea
            button(type="submit").form__button Отправьте сообщение
            input(type="hidden" name="act" value="order")
            .pp-page !!! Нажимая на кнопку: "отправьте сообщение", Вы соглашаетесь с 
                a(href="https://gubinvs.ru/pp-page.html").pp-page политикой в отношении обработки персональных данных.
        .ip-feedback-section__img-block
            .ip-feedback-section__img-block_border
            picture
                //- source(srcset="../../img/supply-page/request-section__img_1024.jpg" media="(max-width: 1024px)")
                img(src="../../img/index-page/ip-form-img.jpg", alt="Женьщина за ноутбуком и с блокнотом ожидает Вашего вопроса").ip-feedback-section__img
            .ip-feedback-section__img-block_border

