section
    //-- Заголовок секции стадий внедрения с полосой
    .title-block-stage
        h3.title-block-stage__title 1. Этап - Определение цели
        .title-block-stage__line
    //-- Секция с контентом
    .ip-stage-section 
        //-- Банер слева при разрешении экрана более 1554px
        .left-banner
            .banner__big-line.mr-8 
            .banner__min-line
        //-- Основной контент страницы
        .container.ip-stage-section__container
            .content-block-container 
                .content-block-container__icon-list
                    img(src="../../img/index-page/icon-stages1_1.jpg", alt="Список").icon-list__item
                    img(src="../../img/index-page/icon-stages1_2.jpg", alt="Ракета").icon-list__item
                    img(src="../../img/index-page/icon-stages1_3.jpg", alt="Диаграмма роста результата").icon-list__item
                .content-block-container__title Цель внедрения СМК
                .content-block-container__discr Как правило, руководители принявшие решение внедрять СМК, ставят своей целью повышение удовлетворенности клиента, 
                    | увеличение количества заинтересованных лиц, повышения качества продукта или услуг, соблюдения установленных сроков и конкурентной стоимости. 
                    | Все правильно, но это уже результат работы СМК. На первых этапах нужно ставить менее глобальные цели, постепенно двигаясь к заветной цели.
                .content-block-container__discr Такими целями могут быть:
                    ul.discr-list
                        li.discr-list__item Распределить функции среди персонала,
                        li.discr-list__item Назначить ответственных и исполнителей (по приципу ведущий => ведомый),
                        li.discr-list__item Описать кто и как будет реализовывать эти функции
            .img-block-container 
                img(src="../../img/index-page/stages-img_1.jpg", alt="Команда профессионалов на за столом слушает выступление руководителя у доски, который определяет цели их работы").ip-stage-main-img