section
    //-- Заголовок секции стадий внедрения с полосой
    .title-block-stage
        h3.title-block-stage__title 1. Этап - Фокус на цели
        .title-block-stage__line
    //-- Секция с контентом
    .ip-stage-section 
        //-- Банер слева при разрешении экрана более 1554px
        .left-banner
            .banner__big-line.mr-8 
            .banner__min-line
        //-- Основной контент страницы
        .container.ip-stage-section__container
            .content-block-container 
                .content-block-container__icon-list
                    img(src="../../img/index-page/icon-stages1_1.jpg", alt="Список").icon-list__item
                    img(src="../../img/index-page/icon-stages1_2.jpg", alt="Ракета").icon-list__item
                    img(src="../../img/index-page/icon-stages1_3.jpg", alt="Диаграмма роста результата").icon-list__item
                .content-block-container__title Цель внедрение СМК
                .content-block-container__discr.content-block-container__discr_first-stage Как правило, руководители принявшие решение внедрять СМК, ставят своей целью повышение удовлетворенности клиента, 
                    | увеличение количества заинтересованных лиц, повышения качества продукта или услуг, соблюдения установленных сроков и конкурентной стоимости. 
                    |  Правильно, но это уже результат работы СМК! 
                .content-block-container__discr.content-block-container__discr_first-stage.discr-bold Первая важная цель - внедрить и обеспечить функционирование СМК!
            .img-block-container 
                img(src="../../img/index-page/stages-img_1.jpg", alt="Команда профессионалов на за столом слушает выступление руководителя у доски, который определяет цели их работы").ip-stage-main-img