section
    //-- Заголовок секции стадий внедрения с полосой
    .title-block-stage.title-block-stage_reverse
        h3.title-block-stage__title.title-block-stage__title_reverse 4. Этап - Обучение персонала
        .title-block-stage__line.title-block-stage__line_reverse
    //-- Секция с контентом
    .ip-stage-section 
        .container.ip-stage-section__container.ip-stage-section__container_reverse
            .content-block-container.content-block-container_reverse
                .content-block-container__icon-list
                    img(src="../../img/index-page/icon-stages4_1.jpg", alt="Список").icon-list__item
                    img(src="../../img/index-page/icon-stages4_2.jpg", alt="Ракета").icon-list__item
                    img(src="../../img/index-page/icon-stages4_3.jpg", alt="Диаграмма роста результата").icon-list__item
                .content-block-container__title Адаптация персонала к новым реалиям
                .content-block-container__discr
                    ul.discription-list
                        li.discription-list__item <b>Обучение</b> персонала новым регламентам;
                        li.discription-list__item <b>Верификация</b> полученный знаний;
                        li.discription-list__item <b>Контроль</b> адаптации персонала.
            .img-block-container 
                img(src="../../img/index-page/stages-img_4.jpg", alt="Мужчины и женщины сидят за столом и компьютерами и изучают документы").ip-stage-main-img
        //-- Банер слева при разрешении экрана более 1554px
        .right-banner
            .banner__min-line.mr-8 
            .banner__big-line