section.ip-first-stage-section 
    //-- Заголовок секции стадий внедрения с полосой
    .title-block-stage
        h3.title-block-stage__title 1. Этап - Определение цели
        .title-block-stage__line
    //-- Банер слева при разрешении экрана более 1554px
    .left-banner
        .banner__big-line.mr-8 
        .banner__min-line
    //-- Основной контент страницы
    .container.ip-first-stage-section__container
