section.ip-result-section
    .container.ip-result-section__container 
        .section-title-block
            h2.section-title-block__title В результате внедрения СМК
            .section-title-block__discr компания преобразуется в системную, появляются возможности для роста.
        .card-container
            .card-result.card-result_1 Становиться привлекательной для инвесторов.
            .card-result.card-result_2 Происходит увеличение рентабельности.
            .card-result.card-result_3 Стабилизируется качество выпускаемой продукции.
            .card-result.card-result_4 Соответствует требованиям крупных гос. корпораций.
            .card-result.card-result_5 Привлекает сотрудников с высокими компетенциями.
            .card-result.card-result_6 Увеличивается количество довольных клиентов.