section.ip-result-section
    .container.ip-result-section__container 
        .section-title-block
            h2.section-title-block__title В результате внедрения СМК
            .section-title-block__discr компания преобразуется в системную, появляются возможности для роста.
            
        