section
    //-- Заголовок секции стадий внедрения с полосой
    .title-block-stage.title-block-stage_reverse
        h3.title-block-stage__title.title-block-stage__title_reverse 2. Этап - Аудит
        .title-block-stage__line.title-block-stage__line_reverse
    //-- Секция с контентом
    .ip-stage-section 
        .container.ip-stage-section__container.ip-stage-section__container_reverse
            .content-block-container.content-block-container_reverse
                .content-block-container__icon-list
                    img(src="../../img/index-page-img/icon-stages2_1.svg", alt="Список").icon-list__item
                    img(src="../../img/index-page-img/icon-stages2_2.svg", alt="Ракета").icon-list__item
                    img(src="../../img/index-page-img/icon-stages2_3.svg", alt="Диаграмма роста результата").icon-list__item
                .content-block-container__title На время, становлюсь частью вашей команды
                .content-block-container__discr.content-block-container__discr_first-stage Изучаю, как выстроены бизнес-процессы сейчас, определяю проблемные (узкие) места, разрабатываю план улучшений.
                    |  Согласовываем сроки, стоимость и внедряемые инструменты бережливого производства. 
                .content-block-container__discr.content-block-container__discr_first-stage.discr-bold В поисках "бутылочного горлышка".
            .img-block-container 
                picture
                    source(srcset="../../img/index-page-img/stages-img-second_1280.jpg" media="(max-width: 1280px)")
                    img(src="../../img/index-page-img/stages-img-second.jpg", alt="Мужчины и женщины сидят за столом и компьютерами и в энергетическом порыве приступают кдостижению поставленной цели").ip-stage-main-img
        //-- Банер слева при разрешении экрана более 1554px
        .right-banner
            .banner__min-line.mr-8 
            .banner__big-line
