section.ip-scheme-section 
    .container.ip-scheme-section__container 
        .section-title-block
            h2.section-title-block__title Эволюционные этапы внедрения
            .section-title-block__discr позволят компаниям управлять эффективностью повышая ценность продукции, 
               | снижать потери за счет систематизации бизнес-процессов объединяя их в единый поток.
        //-- Основной блок со схемой внедрения
        .stages-scheme
            //-- Часть схемы круглая с названием
            .stages-scheme__circle
                .circle__elem1
                .circle__elem2
                .circle__elem3
                    .elem3__title СХЕМА
                    .elem3__discr этапов эволюции компании
            //-- Блок схемы с названиями этапов
            .stages-scheme__stages-block
                .stages-baner.stages-baner1
                     .stages-baner__circle 1
                     .stages-baner__text.stages-baner__text_icon1 Определение цели внедрения
                .stages-baner.stages-baner2
                     .stages-baner__circle 2
                     .stages-baner__text.stages-baner__text_icon2 Создание дорожной карты
                .stages-baner
                     .stages-baner__circle 3
                     .stages-baner__text.stages-baner__text_icon3 Разработка регламентов
                .stages-baner.stages-baner4
                     .stages-baner__circle 4
                     .stages-baner__text.stages-baner__text_icon4 Обучение персонала
                .stages-baner.stages-baner5
                     .stages-baner__circle 5
                     .stages-baner__text.stages-baner__text_icon5 Мониторинг улучшений