section
    //-- Заголовок секции стадий внедрения с полосой
    .title-block-stage
        h3.title-block-stage__title 3. Этап - Регламентирование
        .title-block-stage__line
    //-- Секция с контентом
    .ip-stage-section 
        //-- Банер слева при разрешении экрана более 1554px
        .left-banner
            .banner__big-line.mr-8 
            .banner__min-line
        //-- Основной контент страницы
        .container.ip-stage-section__container
            .content-block-container 
                .content-block-container__icon-list
                    img(src="../../img/index-page/icon-stages3_1.jpg", alt="Список").icon-list__item
                    img(src="../../img/index-page/icon-stages3_2.jpg", alt="Ракета").icon-list__item
                    img(src="../../img/index-page/icon-stages3_3.jpg", alt="Диаграмма роста результата").icon-list__item
                .content-block-container__title Разрабатываем нормативную документацию
                .content-block-container__discr
                    ul.discription-list
                        li.discription-list__item <b>Структуру управления предприятием</b> c распределением функций;
                        li.discription-list__item <b>Должностные инструкции </b> с полномочиями и зоной ответственности;
                        li.discription-list__item <b>Систему мотивации</b> и оценки вовлеченности сотрудника в процесс;
                        li.discription-list__item <b>Технологические инструкции</b> (регламенты) выполнения операций.
            .img-block-container 
                picture
                    source(srcset="../../img/index-page/stages-img-third_1280.jpg" media="(max-width: 1280px)")
                    img(src="../../img/index-page/stages-img-third.jpg", alt="Мужчина в пиджаке и галстуке, сидя за столом с документами и компьютером создает нормативные документы").ip-stage-main-img
