section.main-section 
    .leftt-banner
        .banner__big-line.mr-8 
        .banner__min-line
    .container.main-section__container
        .main-title-block
            .main-title-block__list-name +7 (812)
            ul.main-title-block__number-list
                li.number-list__item 9
                li.number-list__item 2
                li.number-list__item 1
                li.number-list__item 5
                li.number-list__item 9
                li.number-list__item 7
                li.number-list__item 1
            .main-title-block__title-block
                .main-title-block__title Отдел снабжения
                .main-title-block__discr аутсорсинг задач снабжения и закупочных процедур
    .right-banner
        .banner__min-line.mr-8 
        .banner__big-line