section.supply-outsourcing-section
    .supply-title-block_mobile 
        .supply-title-block__border_mobile 
        h2.supply-title-block__text_mobile Аутсорсинг задач снабжения
    .container.supply-outsourcing-container
        .block-content
            .supply-title-block 
                .supply-title-block__border
                h2.supply-title-block__text Аутсорсинг задач снабжения
            .supply-outsourcing__discr Передача операций закупок и снабжения на аутсорсинг, позволяет сосредоточиться на рабочих 
                | процессах, а также поможет сократить расходы до 30%.
            .supply-outsourcing__discr.outsourcing-discr__list
                .outsourcing-discr__item Компания экономит на фонде оплаты труда 
                .outsourcing-discr__item Страхует себя от завышенных цен, исключая возможный сговор штатных сотрудников и недобросовестных поставщиков
                .outsourcing-discr__item Позволяет экономить на специализированных программах учета и системах аналитики.
            .supply-outsourcing__discr Компания получает отлаженный, прозрачный процесс закупок, оптимизированную транспортную и 
                | складскую логистику, проверенную систему учета и аналитики.
        .supply-img-block
            .img-block
                .fon-block
                .min-img-block

