section.supply-question-section
    .container.supply-question-section__container
        .supply-title-block.supply-title-block__question-section.put-none
            .supply-title-block__border.supply-title-block__border_question-section.put-none
            h2.supply-title-block__text.supply-title-block__text_question-section.put-none Вопрос - ответ
        .supply-question-section__content-block 
            .question-list
                .question-list__item 
                    .question-list__item_number 1
                    div(id="question1").question-list__item_question А сколько это стоит?
                .question-list__item_answer.question1 Стоимость завит от объема оказанных услуг и задач требующих решения. 
                                            | <br><br> Для примера приведем компанию, которая выполняет работы по сборке щитов управления (НКУ), 
                                            | на основе утвержденной или разработанной под каждый проект спецификации, в объеме 50 наменований и 4 НКУ в месяц.
                                            | <br><br> Работы по организации закупки, запросу счетов и контроля их оплаты, отслеживание сроков поставки, учет ТМЦ и комплектующих 
                                            | на складах, передачу их в производство и формирование операции по выпуску готовой продукции, обойдется всего в 94 000 рублей в месяц с учетом НДС.
                .question-list__item 
                    .question-list__item_number 2
                    div(id="question2").question-list__item_question В какой программе ведется учет?
                .question-list__item_answer.question2 Я использую 1С конфигурацию УНФ (управление нашей фирмой). 
                                                    | <br><br> Данная конфигурация умеет вести учет ячеистого склада, передачу материалов в производство и формировать выпуск 
                                                    | готовой продукции, с последующим списанием материалов и комплектующих. На основе данных о 
                                                    | стоимости закупок комплектующих формируется информация о себестоимости выпускаемой продукции. 
                                                    | <br><br> Данного функционала достаточно для большинства производственных предприятий, но мы можем обсудить и 
                                                    | индивидуальный подход.
                .question-list__item 
                    .question-list__item_number 3
                    div(id="question3").question-list__item_question Как проходит процесс?
                .question-list__item_answer.question3 На основании утвержденного перечня неснижаемого запаса сырья и материалов я оформляю 
                                                    | заказы поставщикам, контролирую получение счетов, их оплату, организовываю и контролирую 
                                                    | доставку. 
                                                    | <br><br> Если при производстве готовой продукции используются разные комплектующие, то работа 
                                                    | выполняется по предоставленной заказчиком спецификации.
                                                    | <br><br> Я оформляю заказы поставщикам, компаную их счета, передаю вашей бухгалтерии на оплату, контролирую
                                                    | сроки доставки. Обычно этот процесс учитывается в Битрикс24.
                .question-list__item 
                    .question-list__item_number 4
                    div(id="question4").question-list__item_question Как оптимизировать первичку?
                .question-list__item_answer.question4 Если для Вас работа с оплатой счетов отнимает драгоценное время,  я могу предложить комплексный подход. 
                                                    | <br><br> Для этого необходимо подписать договор с ООО и все платежи за ТМЦ мы осуществим сами, предоставим копии 
                                                    | платежных поручений и счета поставщиков, а расходы 
                                                    | на закупку по итогам отчетного периода перевыставим одним документом, с небольшим агентским 
                                                    | вознаграждением.
                .question-list__item 
                    .question-list__item_number 5
                    div(id="question5").question-list__item_question А бухгалтерское сопровождение?
                .question-list__item_answer.question5 Да, услуги бухгалтерского сопровождения я тоже оказываю. 
                                                    | На основании первичных документов веду учет, формирую и сдаю отчетность. 
                                                    | Учитывая, что эта услуга оказывается на постоянной основе, для избежания "вопросов" налоговой инспекции, оформим договор с ООО.
                .question-list__item 
                    .question-list__item_number 6
                    div(id="question6").question-list__item_question Что еще предлагаете?
                .question-list__item_answer.question6 Предлагаю систематизацию компаний через внедрение системы менеджмента качества и идеологию бережливого производства. 
                                                    | <br><br> Разрабатываю и внедряю регламенты, должностные инструкции, технологические процессы. 
                                                    | Курирую вопросы охраны труда и техники безопасности. 

