section.supply-main-section
    .leftt-banner
        .banner__big-line.mr-8 
        .banner__min-line
    .supply-main-section__main-img
        .main-title-block
            .main-title-block__list-name +7 (812)
            ul.main-title-block__number-list
                li.number-list__item 9
                li.number-list__item 2
                li.number-list__item 1
                li.number-list__item 5
                li.number-list__item 9
                li.number-list__item 7
                li.number-list__item 1
            .main-title-block__title-block
                .main-title-block__title Аутсорсинг задач снабжения
                .main-title-block__discr систематизация бизнес-процессов через систему менеджмента качества
    .right-banner
        .banner__min-line.mr-8 
        .banner__big-line