section.supply-main-section
    .leftt-banner
        .banner__big-line.mr-8 
        .banner__min-line
    .supply-main-section__main-img
        .container
            h2.supply-main-section__title Снабжение
            .supply-main-section__discription агентство закупочных процедур
    .right-banner
        .banner__min-line.mr-8 
        .banner__big-line