section.supply-main-section
    .supply-main-section__main-img
        .container
            h2.supply-main-section__title Снабжение
            .supply-main-section__discription агентство закупочных процедур