@import '../variables.scss';

.section-title-block__title {
    font-family: $font-title;
    font-size: 48px;
    line-height: 61px;
}

.section-title-block__discr {
    width: 80%;
    font-size: 32px;
    line-height: 40px;
}