@import '../variables.scss';

.content-block-container__discr_first-stage:not(:last-of-type) {
    margin-bottom: 20px;
}

.discr-bold {
    font-size: 28px;
    font-weight: 600;
}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 640px) {}

@media only screen and (max-width: 480px) {}
