.main-section {
  display: flex;
}

.main-title-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 750px;
  padding-top: 40px;
  padding-left: 40px;
  background-image: url(../../img/index-page/bg-index-main.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  border: 0.5px solid #97A29B;
}

.main-title-block__list-name {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

.main-title-block__number-list {
  display: flex;
  margin-bottom: 180px !important;
}

.number-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-size: 54px;
  background-color: #9F3138;
  color: #ffffff;
}

.number-list__item:hover {
  font-size: 62px;
}

.number-list__item:not(:last-of-type) {
  margin-right: 4px;
}

.number-list__item:nth-child(3),
.number-list__item:nth-child(5) {
  margin-right: 12px;
}

.main-title-block__title {
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-size: 68px;
  line-height: normal;
  color: #ffffff;
}

.main-title-block__discr {
  width: 60%;
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 60px;
}

.main-title-block__botton {
  width: 400px;
  height: 60px;
  background-color: #9F3138;
  font-size: 24px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.main-title-block__botton:hover {
  width: 400px;
  height: 60px;
  border-radius: 5px;
  font-size: 25px;
  box-shadow: 0px 0px 10px 0px #B9202C;
}

@media only screen and (max-width: 1554px) {
  .main-section {
    padding-top: 20px;
  }
  .left-banner,
  .right-banner {
    display: none;
  }
  .main-title-block {
    border-radius: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .main-title-block__botton {
    width: 300px;
  }
  .main-title-block__botton:hover {
    width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .main-title-block {
    justify-content: flex-end;
    background-position: bottom right 20%;
  }
  .main-title-block__number-list {
    margin-bottom: 20px !important;
  }
  .main-title-block__title {
    font-size: 52px;
  }
  .main-title-block__discr {
    font-size: 24px;
  }
  .main-title-block__botton {
    display: none;
  }
}
@media only screen and (max-width: 598px) {
  .main-title-block__title {
    font-size: 42px;
  }
  .number-list__item {
    width: 48px;
    height: 68px;
    font-size: 48px;
    background-color: #696D70;
  }
  .number-list__item:hover {
    font-size: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .main-title-block {
    height: 360px;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #97A29B;
    background-image: url(../../img/index-page/bg-index-main2.jpg);
    border: 0.5px solid #696D70;
  }
  .main-title-block__list-name {
    font-size: 22px;
    color: #696D70;
  }
  .number-list__item {
    width: 38px;
    height: 68px;
    font-size: 38px;
  }
  .number-list__item:hover {
    font-size: 40px;
  }
  .main-title-block__title {
    font-size: 28px;
    color: #696D70;
  }
  .main-title-block__discr {
    font-size: 22px;
    color: #696D70;
  }
}