.ip-stage-section__container_reverse {
  flex-direction: row-reverse;
}

.title-block-stage_reverse {
  flex-direction: row-reverse;
}

.title-block-stage__title_reverse {
  margin-right: 0px;
}

.title-block-stage__line_reverse {
  margin-right: 20px;
}

.content-block-container_reverse {
  width: 640px;
}