@import '../variables.scss';
@import 'ip-main-section.scss';
@import 'ip-card-section.scss';
@import 'ip-scheme-section.scss';

.ip-stage-section {
    display: flex;
}

.title-block-stage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title-block-stage__title {
    font-family: $font-title;
    font-size: 48px;
    line-height: normal;
    margin-right: 20px;
}

.title-block-stage__line {
    width: 20%;
    height: 20px;
    background-color: #000000;
}

.ip-stage-section__container {
    display: flex;
    justify-content: space-between;
}

.content-block-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
}

.img-block-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content-block-container__icon-list {
    display: flex;
    margin-bottom: 40px;
}

.content-block-container__title {
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;
}

.content-block-container__discr {
    width: 680px;
    font-size: 28px;
    font-weight: 200;
    line-height: normal;
}

.ip-stage-main-img {
    border: 1px solid $color-second;
}






@import 'ip-first-stage-section.scss';
@import 'ip-second-stage-section.scss';
@import 'ip-third-stage-section.scss';
@import 'ip-fourth-stage-section.scss';
@import 'ip-fifth-stage-section.scss';
@import 'ip-result-section.scss';
@import 'ip-brif-section.scss';
@import 'ip-feedback-section.scss';




