.discription-list__item {
  padding-left: 45px;
  background-image: url(../../img/index-page-img/icon-list.png);
  background-repeat: no-repeat;
  background-position: left;
}

.discription-list__item:not(:last-of-type) {
  margin-bottom: 8px;
}