//-- подключение файла с переменными
@import '../variables.scss';
.main-section {
    display: flex;
}

.main-title-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 750px;
    background-image: url(../../img/index-page/bg-index-main.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.main-title-block__title {
    font-family: $font-title;
    font-size: 38px;
    color: #BE2633;
}
