//-- подключение файла с переменными
@import '../variables.scss';
.main-section {
    display: flex;
}

.main-title-block {
    width: 100%;
    height: 750px;
    background-image: url(../../img/index-page/bg-index-main.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}