//- Подключил шаблон с разметкой страницы
extends doctypes.pug

//- Изменил название страницы
block doctype
    //- Описание страницы в head discription
    - var contentDiscription = 'Я помогаю делать бизнес организованным и эффективным, бережно использовать ресурсы, выявлять и устранять потери.';
    //- Наименование главной страницы
    - var titleName = 'Губин Владимир Сергеевич - системный интегратор бизнес-процессов';
    //- Массив с путями к файлам со стилями
    - var stylePath = ['css/labor-style.css', 'css/ip-style.css'];
    //-- canonical указывает поисковому роботу какая страница из дублей главная
    - var canonical = 'https://gubinvs.ru/index.html';


//- Вставил блок с будующим контентом
block content
    main
        h1(class="visually-hidden h1-visually", style="visibility: hidden;").h1__visually Губин Владимир Сергеевич
        include html/aboutme-page-pug/aboutme-main-section.pug
        include html/aboutme-page-pug/aboutme-about-section.pug