//- Подключил шаблон с разметкой страницы
extends doctypes.pug

//- Изменил название страницы
block doctype
    //- Описание страницы в head discription
    - var contentDiscription = 'Помогаем делать бизнес организованным и эффективным, бережно использовать ресурсы, выявлять и устранять потери.';
    //- Наименование главной страницы
    - var titleName = 'Внедрение СМК и идеологии бережливого производства/';
    //- Массив с путями к файлам со стилями
    - var stylePath = ['css/ip-style.css'];
    //-- указывает поисковому роботу адрес главной страницы среди группы страниц дублей
    - var canonical = '';




//- Вставил блок с будующим контентом
block content
    main
        //- h1(class="visually-hidden h1-visually", style="visibility: hidden;").h1__visually Внедрение СМК ГОСТ Р 56404-2021, ГОСТ Р ИСО 9000-2015, систематизация и стандартизация бизнес-процессов на предприятиях.
        //- include html/index-page-pug/ip-main-section.pug 
        //- include html/index-page-pug/ip-card-section.pug 
        //- include html/index-page-pug/ip-scheme-section.pug 
        //- include html/index-page-pug/ip-first-stage-section.pug
        //- include html/index-page-pug/ip-second-stage-section.pug 
        //- include html/index-page-pug/ip-third-stage-section.pug  
        //- include html/index-page-pug/ip-fourth-stage-section.pug 
        //- include html/index-page-pug/ip-fifth-stage-section.pug
        //- include html/index-page-pug/ip-result-section.pug 
        //- include html/index-page-pug/ip-brif-section.pug 
        //-- include html/index-page-pug/ip-feedback-section.pug 
        include html/footer.pug 
        
        
        s
        

        
        