@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Days One";
  src: url("../fonts/DaysOne-Regular.eot");
  src: local("Days One"), local("DaysOne-Regular"), url("../fonts/DaysOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DaysOne-Regular.woff2") format("woff2"), url("../fonts/DaysOne-Regular.woff") format("woff"), url("../fonts/DaysOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

header {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0;
  margin: 0;
}

.h1-min {
  font-size: 0.1px;
  line-height: 0.1px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
::-moz-placeholder {
  padding-left: 20px;
  color: #B3A99B;
  font-size: 14px;
}
::placeholder {
  padding-left: 20px;
  color: #B3A99B;
  font-size: 14px;
}

body {
  background-color: #F7F7F7;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  color: #000000;
}

section,
header,
footer {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.h1__visually {
  font-size: 0.1px;
}

a,
a:visited {
  color: #000000;
}

a:hover {
  color: #000000;
}

img {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 1000px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    width: 768px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0px 40px 0px 40px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0px 20px 0px 20px;
  }
}
@media only screen and (max-width: 360px) {
  .container {
    width: 100%;
    padding: 0px 20px 0px 20px;
  }
}
.header-section {
  margin-right: auto;
  margin-left: auto;
}

.header-section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  padding-top: 8px;
  margin-bottom: 8px;
}

.logo-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-img {
  margin-right: 12px;
}

.logo-border {
  width: 2px;
  height: 40px;
  background-color: #000000;
  margin-right: 12px;
}

.nav-header-list {
  display: flex;
}

.nav-header-list__item {
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
  padding-left: 28px;
  background-image: url(../img/index-page/tb-list-item__check-img_480.png);
  background-repeat: no-repeat;
  background-position: left;
}

.nav-header-list__item:not(:last-of-type) {
  margin-right: 22px;
}

.nav-header-list__item:hover {
  color: #8E0532;
}

.burger-room-block {
  display: flex;
  align-items: center;
}

.room-butom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4px;
  width: 150px;
  height: 50px;
  font-size: 14px;
  background-image: url(../img/buton-room-icon.png);
  background-repeat: no-repeat;
  background-position: 8px center;
  background-color: #8E0532;
  color: #FFFFFF;
}

.burger {
  position: relative;
  display: block;
  width: 40px;
  height: 30px;
  margin-right: 12px;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: " ";
  position: absolute;
  width: 40px;
  height: 4px;
  left: 0;
  background-color: #000000;
}

.burger span {
  position: absolute;
  top: 13px;
  width: 40px;
  height: 4px;
  left: 0;
  background-color: #000000;
}

.burger::before {
  top: 0px;
}

.burger::after {
  bottom: 0px;
}

.burger_close {
  position: relative;
  width: 40px;
  height: 30px;
  margin-right: 12px;
}

.burger_close::before,
.burger_close::after {
  content: " ";
  position: absolute;
  width: 40px;
  height: 4px;
  left: 0;
  background-color: #000000;
}

.burger_close::before {
  top: 13px;
  transform: rotate(-45deg);
}

.burger_close::after {
  bottom: 13px;
  transform: rotate(45deg);
}

.nav-header-list__active {
  display: flex;
  justify-content: flex-end;
  padding-right: 162px;
}

.nav-block-active {
  display: inline-block;
  width: 650px;
  padding: 20px 50px 20px 50px;
}

.nav-header-list__item_active {
  display: block;
  margin-bottom: 8px;
}

.none-block {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .nav-header-list {
    display: none;
  }
  .nav-header-list__active {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .room-butom {
    display: none;
  }
  .logo-border,
  .logo-title {
    display: none;
  }
  .nav-header-list__item {
    font-size: 16px;
  }
  .nav-block-active {
    width: 100%;
    padding: 10px 20px 10px 10px;
  }
}
@media only screen and (max-width: 480px) {
  .nav-header-list__item {
    font-size: 14px;
  }
}
.index-main-section {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 650px;
  margin-bottom: 40px;
  background-image: url(../../img/index-page/bg-index-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F9F8F8;
}

.title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.title-block__line-left {
  width: 400px;
  height: 20px;
  background-color: #8E0532;
}

.title-block__title {
  padding-left: 22px;
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
}

.title-block__line-right {
  width: 100px;
  height: 20px;
  background-color: #8E0532;
}

.discriptin-block {
  position: relative;
}

.discriptin-block__img {
  margin-right: 20px;
}

.block-list {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 20px 80px 40px 40px;
  border-radius: 0px;
  background-color: #F7F7F7;
}

.discriptin-block__list {
  padding-top: 10px;
  padding-left: 22px;
}

.list__title {
  font-size: 32px;
  font-weight: 500;
  color: #8E0532;
  margin-bottom: 24px;
}

.list__item {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  padding-left: 28px;
  background-image: url(../../img/index-page/tb-list-item__check-img_1024.png);
  background-position: left;
  background-repeat: no-repeat;
  color: #000000;
}

.list__item:not(:last-of-type) {
  margin-bottom: 18px;
}

@media only screen and (max-width: 1024px) {
  .block-list {
    left: 0px;
    padding: 20px 40px 40px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .title-block {
    margin-bottom: 40px;
  }
  .block-list {
    padding: 10px 20px 20px 10px;
  }
  .discriptin-block__list {
    padding-left: 18px;
  }
  .list__title {
    font-size: 26px;
    margin-bottom: 12px;
  }
  .list__item {
    font-size: 16px;
    padding-left: 32px;
  }
  .list__item:not(:last-of-type) {
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 640px) {
  .index-main-section {
    height: 563px;
    background-position: right -180px bottom -190px;
  }
  .block-list {
    top: 338px;
  }
}
@media only screen and (max-width: 480px) {
  .index-main-section {
    background-position: right -180px bottom -190px;
  }
  .discriptin-block__list {
    padding-left: 0px;
  }
  .list__title {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 16px;
  }
  .list__item:not(:last-of-type) {
    margin-bottom: 8px;
  }
}
.step-section {
  display: flex;
  max-width: 1280px;
  padding-bottom: 80px;
}

.discription-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-title__step-section {
  padding-left: 48px;
}

.discription-card {
  padding-bottom: 50px;
  width: 320px;
  border: 1px solid #b9b9b9;
  margin-bottom: 20px;
}

.discription-card:not(:last-of-type) {
  margin-right: 20px;
}

.discription-card__img {
  width: 320;
  height: 260px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
}

.discription-card__img1 {
  background-image: url(../../img/step-section/card-content__img1.jpg);
}

.discription-card__img2 {
  background-image: url(../../img/step-section/card-content__img2.jpg);
}

.discription-card__img3 {
  background-image: url(../../img/step-section/card-content__img3.jpg);
}

.discription-card__title {
  padding-left: 20px;
  padding-right: 10px;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

.discription-card__discr {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@media only screen and (max-width: 1024px) {
  .discription-block {
    justify-content: flex-start;
  }
  .content-title__step-section {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .discription-card:not(:last-of-type) {
    margin-right: 0px;
  }
  .discription-card {
    margin-right: 0px;
  }
  .discription-card:nth-child(1) {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .discription-block {
    justify-content: center;
  }
  .content-title__step-section {
    padding-left: 20px;
  }
  .discription-card:nth-child(1) {
    margin-right: 0px;
  }
}
.index-audit-section {
  position: relative;
  max-width: 1280px;
  margin-bottom: 80px;
}

.title-block-ias {
  justify-content: flex-start;
}

.index-audit-section__img {
  position: absolute;
  top: 83px;
}

.border-block {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
}

.border-block__black-line {
  width: 20px;
  height: 700px;
  margin-right: 20px;
  background-color: #000000;
}

.border-block__red-line {
  width: 100px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8E0532;
}

.red-line__text {
  position: absolute;
  top: 350px;
  right: -167px;
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 40px;
  color: #FFFFFF;
  transform: rotate(-90deg);
}

.index-audit-section__discription-block {
  flex-direction: column;
  align-items: flex-end;
  padding-right: 120px;
}

.discription-block__icon-list {
  display: flex;
  padding-right: 40px;
  margin-bottom: 120px;
}

.discription-block__icon-item:not(:last-of-type) {
  margin-right: 20px;
}

.discription-block__content {
  width: 700px;
}

.content__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
}

.content__discr {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 35px;
}

@media only screen and (max-width: 1280px) {
  .index-audit-section__discription-block {
    padding-right: 0px;
  }
  .title-block__line-left_ias {
    width: 358px;
  }
  .discription-block__icon-list {
    padding-right: 130px;
  }
  .content__title {
    font-size: 39px;
  }
  .content__discr_ias {
    width: 574px;
  }
}
@media only screen and (max-width: 1024px) {
  .index-audit-section__img {
    display: none;
  }
  .title-block__line-left_ias {
    width: 90px;
  }
}
@media only screen and (max-width: 768px) {
  .index-audit-section {
    margin-bottom: 0px;
  }
  .title-block-ias {
    margin-bottom: 20px;
  }
  .discription-block__content {
    width: 100%;
  }
  .border-block,
  .red-line__text {
    display: none;
  }
  .title-block__title {
    font-size: 24px;
  }
  .title-block__line-left_ias {
    width: 90px;
  }
  .index-audit-section__discription-block {
    align-items: flex-start;
  }
  .discription-block__icon-list {
    padding-right: 0px;
    margin-bottom: 30px;
  }
  .discription-block__icon-item {
    width: 70px;
    height: 70px;
  }
  .content__title {
    width: 100%;
    font-size: 27px;
    line-height: 30px;
  }
  .content__discr_ias {
    width: 100%;
    font-size: 22px;
  }
}
@media only screen and (max-width: 480px) {
  .content-block-ias {
    padding-top: 40px !important;
  }
  .title-block__title {
    display: none;
  }
  .index-audit-section {
    margin-bottom: 8px;
  }
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

header {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0;
  margin: 0;
}

.h1-min {
  font-size: 0.1px;
  line-height: 0.1px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.index-regulation-section {
  margin-bottom: 132px;
}

.title-block_index-regulation-section {
  justify-content: flex-end;
  margin-bottom: 120px;
}

.title-block__title_irs {
  padding-left: 0px !important;
  margin-right: 20px;
}

.discription-block-irs {
  justify-content: flex-start;
  padding-left: 160px;
}

.index-regulation-section__img {
  top: 200px;
  right: 20px;
}

.content-list__item_regulation {
  padding-left: 44px !important;
  background-image: url(../../img/index-page/check-circle.svg);
}

.border-block_regulation-section {
  flex-direction: row-reverse;
  left: 0px;
  right: initial;
}

.border-block__black-line_regulation-section {
  margin-right: 0px;
}

.border-block__red-line_regulation-section {
  margin-right: 20px;
}

.red-line__text_regulation-section {
  top: 334px;
  left: -170px;
  right: initial;
}

@media only screen and (max-width: 1280px) {
  .discription-block-irs {
    padding-left: 140px;
  }
}
@media only screen and (max-width: 1024px) {
  .title-block__line-left_irs {
    width: 90px;
  }
  .discription-block-irs {
    padding-left: 165px;
  }
}
@media only screen and (max-width: 768px) {
  .index-regulation-section {
    margin-bottom: 0px;
  }
  .content-block-irs {
    padding-top: 20px !important;
  }
  .discription-block-irs {
    padding-left: 0px;
  }
  .title-block_index-regulation-section {
    margin-bottom: 20px !important;
  }
  .content-list__item_regulation {
    font-size: 20px;
    line-height: 24px;
  }
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

header {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0;
  margin: 0;
}

.h1-min {
  font-size: 0.1px;
  line-height: 0.1px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.index-adaptation-section__title-block {
  justify-content: flex-start;
}

.index-adaptation-section__img {
  top: 120px !important;
  left: 20px;
}

.index-adaptation-section__discription-block {
  flex-direction: column;
  align-items: flex-end;
  padding-right: 137px;
  padding-top: 132px;
}

.title-block__line-left_iadsec {
  padding-left: 0px;
}

.title-block__title_iadsec {
  margin-right: 20px;
}

.content__title_adaptation-section {
  margin-bottom: 36px;
}

.content-list__item {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.content-list__item {
  padding-left: 80px;
  padding-right: 40px;
  background-repeat: no-repeat;
  background-position: left;
}

.content-list__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.content-list__item1 {
  background-image: url(../../img/index-page/adap-bc-item__img.svg);
}

.content-list__item2 {
  background-image: url(../../img/index-page/adap-bc-item__img2.svg);
}

.content-list__item3 {
  background-image: url(../../img/index-page/adap-bc-item__img3.svg);
}

.red-line__text_adaptation-section {
  top: 340px;
  right: -94px;
}

@media only screen and (max-width: 1280px) {
  .discription-block__content__iadsec {
    width: 65% !important;
  }
}
@media only screen and (max-width: 1024px) {
  .discription-block__content__iadsec {
    width: 80% !important;
  }
  .index-adaptation-section__discription-block {
    padding-right: 0px;
    padding-top: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .discription-block__content__iadsec {
    width: 100% !important;
  }
  .title-block__line-left_iadsec {
    width: 90px !important;
  }
}
.index-task-section {
  position: relative;
  max-width: 1280px;
  padding-top: 80px;
  margin-bottom: 120px;
}

.title-block__task-section {
  justify-content: flex-start;
}

.index-task-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.index-task-card {
  display: flex;
  width: 490px;
}

.index-task-card:nth-child(odd) {
  margin-right: 20px;
}

.index-task-card:nth-child(-n+2) {
  margin-bottom: 40px;
}

.index-task-card__icon {
  margin-right: 20px;
}

.index-task-card__content {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.case-block {
  display: flex;
  flex-wrap: wrap;
}

.case-block__card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.case-block__card:not(:last-of-type) {
  margin-bottom: 40px;
}

.case-block-card__action,
.case-block-card__result {
  width: 400px;
}

.action__title,
.result__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 20px;
}

.action__discr,
.result__discr {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

@media only screen and (max-width: 1024px) {
  .title-block__line-left_task {
    width: 90px !important;
  }
  .index-task-block {
    justify-content: flex-start;
  }
  .index-task-card {
    margin-right: 0px;
  }
  .index-task-card:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .index-task-card:nth-child(odd) {
    margin-right: 0px;
  }
  .case-block {
    justify-content: flex-end;
  }
  .case-block__card {
    width: 600px;
  }
  .case-block-card__action,
  .case-block-card__result {
    width: 100%;
  }
  .case-block__card {
    flex-direction: column;
  }
  .result__title {
    padding-top: 20px;
  }
  .case-block-card__icon {
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
  }
  .action__discr {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .index-task-block {
    padding-left: 0px;
  }
  .index-task-card {
    width: 96%;
  }
}
.supply-footer {
  display: flex;
  background-color: #8E0532;
}

.supply-footer__continer {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px 60px 0px;
}

.footer-section__left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
}

.form-tel-title {
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 12px;
  color: #FFFFFF;
}

.form-tel-footer {
  display: flex;
  width: 490px;
  height: 50px;
  margin-bottom: 22px;
}

.form-tel-footer__input {
  width: 405px;
  height: 50px;
  border: none;
  margin-right: 20px;
}

.form-tel-footer__botton {
  display: block;
  width: 65px;
  height: 50px;
  background-color: #FFFFFF;
  background-image: url(../img/supply-page/icons_ked_bell.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form-tel-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}

.footer-contact__item,
.footer-contact__title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer-contact__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-contact__item {
  margin-bottom: 12px;
}

.footer-contact__item:nth-last-child(2) {
  margin-bottom: 40px;
}

.social-block-list {
  display: flex;
  margin-bottom: 20px;
}

.social-block-list__icon:not(:last-of-type) {
  margin-right: 12px;
}

.pp-page {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

@media only screen and (max-width: 1024px) {
  .footer-section__left-block {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .supply-footer__continer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 60px 0px 60px 40px;
  }
  .footer-section__left-block {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .form-tel-footer {
    width: 100%;
  }
  .form-tel-footer__input {
    width: 290px;
  }
  .form-tel-text {
    font-size: 22px;
  }
}
@media only screen and (max-width: 480px) {
  .form-tel-footer__input {
    width: 190px;
  }
}
.supply-title-block {
  display: flex;
  margin-bottom: 40px;
}

.supply-title-block__border {
  width: 20px;
  height: 120px;
  background-color: #8E0532;
  margin-right: 64px;
}

.supply-title-block__text {
  width: 488px;
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  color: #8E0532;
}

.question1,
.question2,
.question3,
.question4,
.question5,
.question6,
.supply-title-block_mobile,
.supply-title-block__border_mobile,
.supply-title-block__text_mobile {
  display: none;
}

.supply-main-section__main-img {
  width: 100%;
  height: 720px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url(../img/supply-page/main-img-section_1440.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.supply-main-section__title {
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 122px;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px #8E0532;
  margin-bottom: 22px;
}

.supply-main-section__discription {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  margin-right: auto;
  margin-left: auto;
  width: 490px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  background-color: #FFFFFF;
  color: #8E0532;
}

@media only screen and (max-width: 1280px) {
  .supply-main-section__main-img {
    background-image: url(../img/supply-page/main-img-section_1280.jpg);
  }
}
@media only screen and (max-width: 1024px) {
  .supply-main-section__main-img {
    height: 576px;
    padding-top: 200px;
    background-image: url(../img/supply-page/main-img-section_1024.jpg);
  }
}
@media only screen and (max-width: 768px) {
  .supply-main-section__main-img {
    height: 432px;
    padding-top: 120px;
    background-image: url(../img/supply-page/main-img-section_768.jpg);
  }
  .supply-main-section__title {
    font-size: 64px;
    line-height: 81px;
    margin-bottom: 28px;
  }
  .supply-main-section__discription {
    width: 320px;
    height: 30px;
    font-size: 18px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .supply-main-section__main-img {
    height: 240px;
    padding-top: 70px;
    background-image: url(../img/supply-page/main-img-section_480.jpg);
  }
  .supply-main-section__title {
    font-size: 56px;
    line-height: 71px;
    margin-bottom: 12px;
  }
  .supply-main-section__discription {
    width: 300px;
    height: 30px;
    font-size: 18px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .supply-main-section__main-img {
    display: flex;
    justify-content: flex-start;
    height: 200px;
    padding-top: 50px;
    background-image: url(../img/supply-page/main-img-section_360.jpg);
  }
  .supply-main-section__title {
    font-size: 48px;
    line-height: 61px;
    margin-bottom: 8px;
  }
  .supply-main-section__discription {
    width: 300px;
    height: 30px;
    font-size: 16px;
    line-height: 17px;
  }
}
.supply-outsourcing-section {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  margin-bottom: 80px;
}

.supply-outsourcing-container {
  display: flex;
  justify-content: space-between;
}

.block-content {
  width: 510px;
}

.supply-outsourcing__discr {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
}

.supply-outsourcing__discr:not(:last-of-type) {
  margin-bottom: 20px;
}

.outsourcing-discr__list {
  padding-left: 48px;
}

.outsourcing-discr__item {
  padding-left: 40px;
  background-image: url(../img/supply-page/check-circle.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.outsourcing-discr__item:not(:last-of-type) {
  margin-bottom: 12px;
}

.supply-img-block {
  padding-top: 30px;
}

.img-block {
  position: relative;
  width: 405px;
  height: 460px;
  background-image: url(../img/supply-page/supply-block-img_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.fon-block {
  position: absolute;
  top: -30px;
  left: 100px;
  width: 235px;
  height: 520px;
  background-color: #8E0532;
  z-index: -1;
}

.min-img-block {
  position: absolute;
  top: 30px;
  left: -80px;
  width: 134px;
  height: 134px;
  border: 8px solid #8E0532;
  background-image: url(../img/supply-page/supply-block-img_min1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 1024px) {
  .block-content {
    width: 374px;
  }
  .supply-outsourcing__discr {
    font-size: 18px;
    line-height: 23px;
  }
  .img-block {
    width: 373px;
    height: 460px;
  }
  .fon-block {
    top: -30px;
    left: 55px;
  }
  .min-img-block {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .supply-outsourcing-section {
    flex-direction: column;
  }
  .block-content {
    width: 340px;
    margin-right: 8px;
  }
  .supply-outsourcing__discr {
    font-size: 17px;
    line-height: 21px;
  }
  .img-block {
    width: 340px;
    height: 460px;
  }
  .fon-block {
    top: -30px;
    left: 55px;
  }
}
@media only screen and (max-width: 670px) {
  .supply-img-block {
    display: none;
  }
  .block-content {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .supply-outsourcing-container {
    flex-direction: column;
    align-items: center;
  }
  .supply-img-block {
    display: none;
  }
  .supply-outsourcing-section {
    margin-bottom: 20px;
  }
}
.supply-blocktop-img {
  display: flex;
  justify-content: center;
  background-color: #8E0532;
  margin-bottom: 40px;
}

.supply-blocktop-img__big-img {
  margin-right: 20px;
}

.supply-task-section {
  display: flex;
  justify-content: flex-end;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}

.background-block {
  width: 630px;
  height: 600px;
  padding: 50px 140px 50px 65px;
  background-color: #8E0532;
}

.background-block__content {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.background-block__content:not(:last-of-type) {
  margin-bottom: 12px;
}

@media only screen and (max-width: 1280px) {
  .background-block {
    width: 100%;
    height: 100%;
    padding: 50px 20px 50px 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .supply-task-section {
    flex-direction: column;
    align-items: flex-end;
  }
  .supply-title-block_task {
    width: 100%;
  }
  .background-block {
    width: 100%;
    height: 100%;
    padding: 50px 20px 50px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .supply-title-block_task,
  .supply-title-block__border_task,
  .supply-title-block__text_task {
    display: inherit !important;
  }
  .supply-blocktop-img__mini-img {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .supply-blocktop-img__mini-img,
  .supply-blocktop-img__big-img {
    display: none;
  }
  .supply-title-block__text_task {
    font-size: 28px !important;
    line-height: 36px !important;
  }
  .background-block__content {
    font-size: 17px;
    line-height: 20px;
  }
}
.supply-accounting-section {
  margin-bottom: 140px;
}

.supply-accounting-section__container {
  display: flex;
  justify-content: space-between;
}

.supply-accounting-section__block-img {
  position: relative;
  width: 50%;
}

.sas-block-img__border {
  width: 280px;
  height: 220px;
  background-color: #8E0532;
}

.sas-block-img__img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
}

.supply-title-block__accounting-section {
  display: flex;
  flex-direction: column-reverse;
}

.supply-title-block__text_accounting-section {
  margin-bottom: 18px;
}

.supply-accounting-section__title-border {
  width: 190px;
  height: 10px;
}

.supply-outsourcing__discr_accounting-section {
  font-size: 32px;
  font-weight: 700;
}

.accounting-discr__item {
  margin-bottom: 40px;
}

@media only screen and (max-width: 1280px) {
  .supply-accounting-section__block-img {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .supply-accounting-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-content {
    width: 100%;
  }
  .supply-accounting-section__block-img {
    margin-bottom: 100px;
  }
  .sas-block-img__border {
    width: 280px;
    height: 200px;
  }
}
@media only screen and (max-width: 663px) {
  .supply-accounting-section__block-img {
    display: none;
  }
}
.supply-question-section__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.supply-title-block__question-section {
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  top: 180px;
  left: -190px;
  transform: rotate(-90deg);
}

.supply-title-block__border_question-section {
  width: 157px;
  height: 20px;
}

.supply-title-block__text_question-section {
  width: auto;
  margin-right: 22px;
}

.question-list__item {
  display: flex;
}

.question-list__item:not(:last-of-type) {
  margin-bottom: 22px;
}

.question-list__item_number {
  width: 65px;
  height: 65px;
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #FFFFFF;
  background-color: #8E0532;
  margin-right: 12px;
}

.question-list__item_question {
  display: flex;
  align-items: center;
  width: 660px;
  height: 65px;
  padding-left: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  border: 1px solid #8E0532;
  background-image: url(../img/supply-page/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right 20px bottom 10px;
  cursor: pointer;
}

.question-list__item_answer {
  width: 660px;
  padding-left: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .supply-title-block__question-section {
    align-items: flex-start;
    position: absolute;
    top: 10px;
    left: 5vw;
    transform: rotate(0deg);
  }
  .supply-question-section__content-block {
    padding-top: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .question-list__item_question {
    width: 562px;
    height: 65px;
    padding-left: 22px;
    font-size: 28px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 680px) {
  .supply-question-section__content-block {
    width: 100%;
    padding-left: 20px;
  }
  .question-list__item_number {
    display: none;
  }
  .question-list__item_question {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    font-size: 17px;
    line-height: 21px;
  }
  .question-list__item_question {
    background-position: right 5px bottom 0px;
  }
  .question-list__item_answer {
    width: 100%;
    padding: 0px 20px 20px 20px;
    font-size: 17px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .question-list__item_question {
    width: 320px;
    height: 40px;
  }
  .question-list__item_answer {
    width: 320px;
    padding-left: 10px;
  }
}
.supply-request-section__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.form-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 491px;
}

.form-block__title {
  font-family: "Days One";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 56px;
  color: #8E0532;
  margin-bottom: 20px;
}

.form-block__input {
  margin-bottom: 12px;
}

.form-message__textarea {
  margin-bottom: 12px;
}

.footer__button {
  height: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  background-color: #8E0532;
  color: #FFFFFF;
}

.request-section__img-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 410px;
}

.request-section__img-block_border {
  width: 240px;
  height: 20px;
  background-color: #8E0532;
}

@media only screen and (max-width: 1024px) {
  .form-block {
    width: 374px;
    margin-right: 20px;
  }
  .form-block__title {
    font-size: 40px;
    line-height: 51px;
  }
}
@media only screen and (max-width: 768px) {
  .supply-request-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-block {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .request-section__img-block {
    display: none;
  }
  .form-block__title {
    font-size: 28px;
    line-height: 36px;
  }
}
@media only screen and (max-width: 1024px) {
  .supply-title-block {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .supply-title-block__border {
    width: 120px;
    height: 20px;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .supply-title-block__text {
    width: 376px;
    font-size: 38px;
    line-height: 48px;
  }
}
@media only screen and (max-width: 768px) {
  .supply-title-block,
  .supply-title-block__border,
  .supply-title-block__text {
    display: none;
  }
  .put-none {
    display: inherit !important;
  }
  .supply-title-block_mobile {
    display: inherit;
    display: flex;
    padding-left: 20px;
    margin-bottom: 40px;
  }
  .supply-title-block__border_mobile {
    display: inherit;
    width: 20px;
    height: 120px;
    background-color: #8E0532;
    margin-right: 30px;
  }
  .supply-title-block__text_mobile {
    display: inherit;
    width: 488px;
    font-family: "Days One", "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    color: #8E0532;
  }
}
@media only screen and (max-width: 480px) {
  .supply-title-block_mobile {
    padding-left: 20px;
    margin-bottom: 40px;
  }
  .supply-title-block__border_mobile {
    width: 20px;
    height: 80px;
    margin-right: 20px;
  }
  .supply-title-block__text_mobile {
    font-size: 28px;
    line-height: 36px;
  }
}
body {
  background-color: #ffffff;
}

.labor-main-section {
  margin-bottom: 16px;
}

.labor-main-section__container {
  display: flex;
  justify-content: space-between;
}

.lms-left-block {
  display: flex;
  align-items: center;
  padding-left: 87px;
}

.lms-title-block__title {
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  color: #000000;
}

.lms-title-block__discription {
  width: 343px;
  font-size: 16px;
  line-height: 2opx;
  font-weight: 300;
  margin-bottom: 48px;
}

.lms-title-block__button {
  width: 235px;
  height: 40px;
  background-color: #8E0532;
  color: #FFFFFF;
}

.lms-right-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 575px;
  height: 350px;
  flex-shrink: 0;
  background-color: #8E0532;
  padding-left: 28px;
}

.lms-right-block__img {
  position: absolute;
  bottom: -70px;
  right: -90px;
}

.windows-phone-block {
  margin-bottom: 84px;
}

.windows-phone-block__code-sity {
  color: #FFFFFF;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.windows-phone-block__numder-list {
  display: flex;
}

.windows-phone-block__number-item {
  width: 30px;
  height: 60px;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #8E0532;
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-align: center;
}

.windows-phone-block__number-item:not(:last-of-type) {
  margin-right: 4px;
}

.windows-phone-block__number-item:nth-child(3),
.windows-phone-block__number-item:nth-child(5) {
  margin-right: 8px;
}

.slogan-block__line {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
}

.first-line {
  color: #DE84A2;
}

.second-line {
  color: #FFFFFF;
}

@media only screen and (max-width: 1280px) {
  .lms-left-block {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1024px) {
  .labor-main-section__container {
    position: relative;
    justify-content: flex-end;
  }
  .lms-left-block {
    position: absolute;
    top: 20px;
    left: 45px;
    z-index: 100;
  }
  .lms-right-block {
    width: 100%;
    padding-left: 210px;
  }
  .lms-title-block__title {
    color: #FFFFFF;
  }
  .lms-title-block__discription {
    color: #DE84A2;
    margin-bottom: 186px;
  }
  .lms-title-block__button {
    width: 235px;
    height: 40px;
    background-color: #F7F7F7;
    color: #8E0532;
  }
  .windows-phone-block {
    padding-top: 20px;
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .lms-left-block {
    left: 65px;
  }
  .lms-right-block {
    padding-left: 24px;
  }
  .nav-header-list__active {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .lms-left-block {
    left: 45px;
  }
  .lms-right-block__img {
    display: none;
  }
  .lms-title-block__discription {
    width: 320px;
  }
  .windows-phone-block {
    padding-top: 120px;
  }
  .lms-right-block {
    padding-left: 24px;
    height: 395px;
  }
}
.labor-suot-section {
  background-color: #F9F8F8;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.labor-suot-section__title {
  padding-top: 24px;
  padding-left: 90px;
  margin-bottom: 40px;
}

.block-content-ss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.suot-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #FFFFFF;
}

.suot-card:not(:last-of-type) {
  margin-right: 20px;
}

.suot-card__left-part {
  width: 320px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.left-part-sc__title {
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding-left: 24px;
  margin-bottom: 24px;
}

.left-part-sc__list {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  margin-bottom: 40px;
}

.left-part-sc__item {
  padding-left: 24px;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  background-image: url(../../img/labor-page/suot-card-icon.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.left-part-sc__item:not(:last-of-type) {
  margin-bottom: 12px;
}

.suot-card__bottom-part {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 196px;
  height: 54px;
  background-color: #F9F8F8;
}

.left-part-sc__button {
  width: 190px;
  height: 48px;
  padding: 11px 24px;
  text-align: center;
  background-color: #8E0532;
  color: #FFFFFF;
}

@media only screen and (max-width: 1280px) {
  .labor-suot-section__title {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1024px) {
  .suot-card__none {
    display: none;
  }
  .suot-card:not(:nth-child(3)) {
    margin-bottom: 20px;
  }
  .suot-card:nth-child(2) {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .suot-card__none {
    display: inherit;
  }
  .suot-card {
    width: 100%;
  }
  .suot-card:not(:last-of-type) {
    margin-right: 0px;
  }
  .suot-card__left-part {
    width: calc(100% - 64px);
  }
}
.labor-control-section__container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  background-color: #F9F8F8;
  margin-bottom: 20px;
}

.labor-control-section__img {
  position: absolute;
  bottom: -20px;
  right: 0px;
}

.labor-control-section__title {
  margin-bottom: 20px;
}

.labor-control-section__discr {
  width: 406px;
  margin-bottom: 94px;
}

.labor-control-section__slogan {
  color: #8E0532;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.labor-control-section__slogan_light {
  color: #CA6486;
}

.labor-control-section__card-block {
  display: flex;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.card-lcs {
  width: 413px;
}

.card-lcs:not(:last-of-type) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.card-lcs__bady {
  width: 100%;
  height: 400px;
  padding-top: 24px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #F9F8F8;
}

.card-lcs__icon {
  margin-bottom: 30px;
}

.card-lcs__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.card-lcs__discr {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card-lcs__border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: #8E0532;
}

.card-lcs__border_discr {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
}

@media only screen and (max-width: 1280px) {
  .card-lcs {
    width: 320px;
  }
}
@media only screen and (max-width: 1024px) {
  .card-lcs {
    width: 374px;
  }
  .card-lcs:nth-child(2) {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .labor-control-section__discr {
    width: 100%;
  }
  .labor-control-section__img {
    display: none;
  }
  .card-lcs {
    width: 100%;
  }
  .card-lcs:not(:last-of-type) {
    margin-right: 0px;
  }
}
.labor-information-section {
  padding-bottom: 40px;
}

.labor-information-section__title {
  font-family: "Days One", "Roboto Condensed", sans-serif;
  color: #D9D9D9;
  margin-bottom: 4px;
}

.labor-information-section__discr-block {
  display: flex;
}

.discr-block-lis__card {
  padding-top: 20px;
  border-top: 1px solid #D9D9D9;
}

.discr-block-lis__card1 {
  width: 847px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.db-lis-card__title {
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.db-lis-card__text {
  width: 490px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 24px;
}

.discr-block-lis__card2 {
  width: 413px;
}

.db-lis-card__text_card2 {
  width: 269px;
}

.discr-block-lis__card3,
.discr-block-lis__card4 {
  width: 630px;
}

.discr-block-lis__card3 {
  margin-right: 20px;
}

.db-lis-card__text_card3,
.db-lis-card__text_card4 {
  width: 370px;
}

@media only screen and (max-width: 1280px) {
  .discr-block-lis__card1 {
    width: 660px;
  }
  .discr-block-lis__card2 {
    width: 320px;
  }
  .discr-block-lis__card3,
  .discr-block-lis__card4 {
    width: 490px;
  }
}
@media only screen and (max-width: 1024px) {
  .discr-block-lis__card1 {
    width: 505px;
  }
  .discr-block-lis__card2 {
    width: 243px;
  }
  .discr-block-lis__card3,
  .discr-block-lis__card4 {
    width: 374px;
  }
  .db-lis-card__title {
    font-size: 20px;
  }
  .db-lis-card__text {
    width: 382px;
  }
  .db-lis-card__text_card2 {
    width: 243px;
  }
  .db-lis-card__text_card3,
  .db-lis-card__text_card4 {
    width: 315px;
  }
}
@media only screen and (max-width: 768px) {
  .labor-information-section__discr-block {
    flex-direction: column;
  }
  .discr-block-lis__card1,
  .discr-block-lis__card2,
  .discr-block-lis__card3,
  .discr-block-lis__card4 {
    width: 100%;
  }
  .db-lis-card__text,
  .db-lis-card__text_card2,
  .db-lis-card__text_card3,
  .db-lis-card__text_card4 {
    width: 70%;
  }
}
.messageok-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}

.messageok-section__icon-block {
  display: flex;
  margin-bottom: 40px;
}

.content-block {
  padding-top: 50px;
  width: 100%;
}

.discriptin-block {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=style.css.map */