.supply-title-block {
  display: flex;
  margin-bottom: 40px;
}

.supply-title-block__border {
  width: 20px;
  height: 120px;
  background-color: #9F3138;
  margin-right: 64px;
}

.supply-title-block__text {
  width: 488px;
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  color: #9F3138;
}

.question1,
.question2,
.question3,
.question4,
.question5,
.question6,
.supply-title-block_mobile,
.supply-title-block__border_mobile,
.supply-title-block__text_mobile {
  display: none;
}

.supply-outsourcing-section {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  margin-bottom: 80px;
}

.supply-outsourcing-container {
  display: flex;
  justify-content: space-between;
}

.block-content {
  width: 510px;
}

.supply-outsourcing__discr {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
}

.supply-outsourcing__discr:not(:last-of-type) {
  margin-bottom: 20px;
}

.outsourcing-discr__list {
  padding-left: 48px;
}

.outsourcing-discr__item {
  padding-left: 40px;
  background-image: url(../img/supply-page-img/check-circle.svg);
  background-repeat: no-repeat;
  background-position: left top 1.8px;
}

.outsourcing-discr__item:not(:last-of-type) {
  margin-bottom: 12px;
}

.supply-img-block {
  padding-top: 30px;
}

.img-block {
  position: relative;
  width: 405px;
  height: 460px;
  background-image: url(../img/supply-page-img/supply-block-img_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.fon-block {
  position: absolute;
  top: -30px;
  left: 100px;
  width: 235px;
  height: 520px;
  background-color: #9F3138;
  z-index: -1;
}

.min-img-block {
  position: absolute;
  top: 30px;
  left: -80px;
  width: 134px;
  height: 134px;
  border: 8px solid #9F3138;
  background-image: url(../img/supply-page-img/supply-block-img_min1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 1024px) {
  .block-content {
    width: 374px;
  }
  .supply-outsourcing__discr {
    font-size: 18px;
    line-height: 23px;
  }
  .img-block {
    width: 373px;
    height: 460px;
  }
  .fon-block {
    top: -30px;
    left: 55px;
  }
  .min-img-block {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .supply-outsourcing-section {
    flex-direction: column;
  }
  .block-content {
    width: 340px;
    margin-right: 8px;
  }
  .supply-outsourcing__discr {
    font-size: 17px;
    line-height: 21px;
  }
  .img-block {
    width: 340px;
    height: 460px;
  }
  .fon-block {
    top: -30px;
    left: 55px;
  }
}
@media only screen and (max-width: 670px) {
  .supply-img-block {
    display: none;
  }
  .block-content {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .supply-outsourcing-container {
    flex-direction: column;
    align-items: center;
  }
  .supply-img-block {
    display: none;
  }
  .supply-outsourcing-section {
    margin-bottom: 20px;
  }
}
.supply-blocktop-img {
  display: flex;
  justify-content: space-between;
  background-color: #E0E3E4;
  margin-bottom: 40px;
}

.supply-blocktop-img__big-img {
  margin-right: 20px;
}

.supply-task-section {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}

.background-block {
  width: 630px;
  height: 560px;
  padding: 50px 140px 50px 65px;
  background-color: #696D70;
}

.background-block__content {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #E0E3E4;
}

.background-block__content:not(:last-of-type) {
  margin-bottom: 12px;
}

@media only screen and (max-width: 1280px) {
  .background-block {
    width: 100%;
    height: 100%;
    padding: 50px 20px 50px 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .supply-task-section {
    flex-direction: column;
    align-items: flex-end;
  }
  .supply-title-block_task {
    width: 100%;
  }
  .background-block {
    width: 100%;
    height: 100%;
    padding: 50px 20px 50px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .supply-title-block_task,
  .supply-title-block__border_task,
  .supply-title-block__text_task {
    display: inherit !important;
  }
  .supply-blocktop-img__mini-img {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .supply-blocktop-img__mini-img,
  .supply-blocktop-img__big-img {
    display: none;
  }
  .supply-title-block__text_task {
    font-size: 28px !important;
    line-height: 36px !important;
  }
  .background-block__content {
    font-size: 17px;
    line-height: 20px;
  }
}
.supply-accounting-section {
  margin-bottom: 140px;
}

.supply-accounting-section__container {
  display: flex;
  justify-content: space-between;
}

.supply-accounting-section__block-img {
  position: relative;
  width: 50%;
}

.sas-block-img__border {
  width: 280px;
  height: 220px;
  background-color: #696D70;
}

.sas-block-img__img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
}

.supply-title-block__accounting-section {
  display: flex;
  flex-direction: column-reverse;
}

.supply-title-block__text_accounting-section {
  margin-bottom: 18px;
}

.supply-accounting-section__title-border {
  width: 190px;
  height: 10px;
}

.supply-outsourcing__discr_accounting-section {
  font-size: 32px;
  font-weight: 700;
}

.accounting-discr__item {
  margin-bottom: 40px;
}

@media only screen and (max-width: 1280px) {
  .supply-accounting-section__block-img {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .supply-accounting-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-content {
    width: 100%;
  }
  .supply-accounting-section__block-img {
    margin-bottom: 100px;
  }
  .sas-block-img__border {
    width: 280px;
    height: 200px;
  }
}
@media only screen and (max-width: 663px) {
  .supply-accounting-section__block-img {
    display: none;
  }
}
.supply-question-section__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.supply-title-block__question-section {
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  top: 180px;
  left: -190px;
  transform: rotate(-90deg);
}

.supply-title-block__border_question-section {
  width: 157px;
  height: 20px;
}

.supply-title-block__text_question-section {
  width: auto;
  margin-right: 22px;
}

.question-list__item {
  display: flex;
}

.question-list__item:not(:last-of-type) {
  margin-bottom: 22px;
}

.question-list__item_number {
  width: 65px;
  height: 65px;
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #E0E3E4;
  background-color: #9F3138;
  margin-right: 12px;
}

.question-list__item_question {
  display: flex;
  align-items: center;
  width: 660px;
  height: 65px;
  padding-left: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  border: 1px solid #696D70;
  background-image: url(../img/supply-page-img/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right 20px bottom 10px;
  cursor: pointer;
}

.question-list__item_answer {
  width: 660px;
  padding-left: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .supply-title-block__question-section {
    align-items: flex-start;
    position: absolute;
    top: 10px;
    left: 5vw;
    transform: rotate(0deg);
  }
  .supply-question-section__content-block {
    padding-top: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .question-list__item_question {
    width: 562px;
    height: 65px;
    padding-left: 22px;
    font-size: 28px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 680px) {
  .supply-question-section__content-block {
    width: 100%;
    padding-left: 20px;
  }
  .question-list__item_number {
    display: none;
  }
  .question-list__item_question {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    font-size: 17px;
    line-height: 21px;
  }
  .question-list__item_question {
    background-position: right 5px bottom 0px;
  }
  .question-list__item_answer {
    width: 100%;
    padding: 0px 20px 20px 20px;
    font-size: 17px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .question-list__item_question {
    width: 320px;
    height: 40px;
  }
  .question-list__item_answer {
    width: 320px;
    padding-left: 10px;
  }
}
.supply-request-section__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.form-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 491px;
}

.form-block__title {
  font-family: "Days One";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 56px;
  color: #696D70;
  margin-bottom: 20px;
}

.form-block__input {
  margin-bottom: 12px;
}

.form-message__textarea {
  margin-bottom: 12px;
}

.footer__button {
  height: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  background-color: #696D70;
  color: #E0E3E4;
}

.request-section__img-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 410px;
}

.request-section__img-block_border {
  width: 240px;
  height: 20px;
  background-color: #696D70;
}

@media only screen and (max-width: 1024px) {
  .form-block {
    width: 374px;
    margin-right: 20px;
  }
  .form-block__title {
    font-size: 40px;
    line-height: 51px;
  }
}
@media only screen and (max-width: 768px) {
  .supply-request-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-block {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .request-section__img-block {
    display: none;
  }
  .form-block__title {
    font-size: 28px;
    line-height: 36px;
  }
}
@media only screen and (max-width: 1024px) {
  .supply-title-block {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .supply-title-block__border {
    width: 120px;
    height: 20px;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .supply-title-block__text {
    width: 376px;
    font-size: 38px;
    line-height: 48px;
  }
}
@media only screen and (max-width: 768px) {
  .supply-title-block,
  .supply-title-block__border,
  .supply-title-block__text {
    display: none;
  }
  .put-none {
    display: inherit !important;
  }
  .supply-title-block_mobile {
    display: inherit;
    display: flex;
    padding-left: 20px;
    margin-bottom: 40px;
  }
  .supply-title-block__border_mobile {
    display: inherit;
    width: 20px;
    height: 120px;
    background-color: #9F3138;
    margin-right: 30px;
  }
  .supply-title-block__text_mobile {
    display: inherit;
    width: 488px;
    font-family: "Days One", "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    color: #9F3138;
  }
}
@media only screen and (max-width: 480px) {
  .supply-title-block_mobile {
    padding-left: 20px;
    margin-bottom: 40px;
  }
  .supply-title-block__border_mobile {
    width: 20px;
    height: 80px;
    margin-right: 20px;
  }
  .supply-title-block__text_mobile {
    font-size: 28px;
    line-height: 36px;
  }
}