//-- Шрифты
// $ff-title: 'Roboto Condensed', sans-serif;
$font-title: 'Days One', 'Roboto Condensed', sans-serif;
$font-textBady: 'Mulish', sans-serif;


//-- Цветовая палитра проекта
$color-black: #0D0D0D;
$color-blue: #033858;
$color-light-red: #F23321;
$color-red: #BE2633;
$color-brown: #590C1C;









