//-- Шрифты
// $ff-title: 'Roboto Condensed', sans-serif;
$font-title: 'Days One', 'Roboto Condensed', sans-serif;
$font-textBady: 'Mulish', sans-serif;


// -- Цветовая палитра проекта
$color-first: #97A29B;
$color-second: #696D70;
$color-third: #9F3138;
$color-footer-text: #E0E3E4;
$bg-color: #F7F7F7;
