//-- переменные
@import '../variables/variables.scss';

.supply-request-section__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.form-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 491px;
}

.form-block__title {
    font-family: 'Days One';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 56px;
    color: $borderColorMax;
    margin-bottom: 20px;
}

.form-block__input {
    margin-bottom: 12px;
}

.form-message__textarea {
    margin-bottom: 12px;
}

.footer__button {
    height: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    background-color: $borderColorMax;
    color: $textContactblokColor;
}

.request-section__img-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 410px;
}

.request-section__img-block_border {
    width: 240px;
    height: 20px;
    background-color: $borderColorMax;
}


@media only screen and (max-width: 1024px) {
    .form-block {
        width: 374px;
        margin-right: 20px;
    }

    .form-block__title {
        font-size: 40px;
        line-height: 51px;
    }
}


@media only screen and (max-width: 768px) {
    .supply-request-section__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-block {
        width: 100%;
        margin-bottom: 50px;
    }

}

@media only screen and (max-width: 480px) {
    .request-section__img-block {
        display: none;
    }
    .form-block__title {
        font-size: 28px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 360px) {}