//-- переменные
@import '../variables/variables.scss';

.supply-question-section__container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.supply-title-block__question-section {
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    top: 180px;
    left: -190px;
    transform: rotate(-90deg);
}

.supply-title-block__border_question-section {
    width: 157px;
    height: 20px;
}

.supply-title-block__text_question-section {
    width: auto;
    margin-right: 22px;
}

.question-list__item {
    display: flex;
} 

.question-list__item:not(:last-of-type) {
    margin-bottom: 22px;
}

.question-list__item_number {
    width: 65px;
    height: 65px;
    font-family: $ffTitle;
    font-size: 40px;
    text-align: center;
    color: $textContactblokColor;
    background-color: $borderColorMax;
    margin-right: 12px;
}

.question-list__item_question {
    display: flex;
    align-items: center;
    width: 660px;
    height: 65px;
    padding-left: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    border: 1px solid $borderColorMax;
    background-image: url(../img/supply-page/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: right 20px bottom 10px;
    cursor: pointer;
}

.question-list__item_answer {
    width: 660px;
    padding-left: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}


@media only screen and (max-width: 1024px) {
    .supply-title-block__question-section {
        align-items: flex-start;
        position: absolute;
        top: 10px;
        left: 5vw;
        transform: rotate(0deg);
    }

    .supply-question-section__content-block {
        padding-top: 150px;
    }
}

@media only screen and (max-width: 768px) {
    .question-list__item_question {
        width: 562px;
        height: 65px;
        padding-left: 22px;
        font-size: 28px;
        line-height: 35px;
    }
}

@media only screen and (max-width: 680px) { 
    .supply-question-section__content-block {
        width: 100%;
        padding-left: 20px;
    }

    .question-list__item_number {
        display: none;
    }

    .question-list__item_question {
        width: 100%;
        height: 40px;
        padding-left: 20px;
        font-size: 17px;
        line-height: 21px;
    }

    .question-list__item_question {
        background-position: right 5px bottom 0px;
    }

    .question-list__item_answer {
        width: 100%;
        padding: 0px 20px 20px 20px;
        font-size: 17px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 360px) {
    .question-list__item_question {
        width: 320px;
        height: 40px;
    }

    .question-list__item_answer {
        width: 320px;
        padding-left: 10px;
    }
}